﻿@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<div class="bodycontent">
    <section id="banner">
        <div class="inner">
            <div>
                <h1><b>About</b> Us</h1>
            </div>
                <p style="color:white; padding-left: 20%; padding-right: 20%;">
                    Passion. Dedication. Belief. Failures. Learnings and Growth.
                    That is who we are proud to be.
                </p>
            </div>
        <img src="~/ContentWebsite/img/aboutus.jpg" width="100%" />
    </section>
    <section class="wrapper">
        <div class="clearfix" style="margin-bottom:40px;"></div>
        <div class="inner" style="text-align:justify;">
           
            <p>
                No Student is born smart or dull. Somehow our environment and a lot of other small factors like city, school, teachers, parents, academic infrastructure and etc. play a pivotal role in deciding how the student turns out to be..Smart or Dull. This has become a stereotype that Education is great in Delhi or Kolkata and pathetic in Rayagada, a tier-III city of Odisha.
            </p>

            <p>To bridge this gap, team DIGICHAMPS, an initiative of SS Eduventures Pvt. Ltd. took the plunge into the deep ocean of Academics. Our aim and goal is very simple. To get the depth in concept for the students in a standardized format irrespective of the city they belong to and ensure a 5% guaranteed growth in marks.</p>

            <p>DIGICHAMPS is the first of its kind, an Ed-tech company based out of Eastern India. Conceptualised in the first quarter of 2016, it aims at changing the dynamics of existing education system by making education FUN and INTERESTING for the students. The team currently focuses on re-creating educational content based on CBSE curriculum by developing small movies and shooting real life videos to show how the curriculum has practical importance, learning can be more interactive and life-skill learning can be a part of current education system.</p>

            <p>All the videos of DIGICHAMPS are based on real life experiences and easy application techniques so that students can easily understand, relate and learn the concepts conveniently. It has already been proved that visual memory lasts long but audio-visual memory lasts longer and hence the videos of DIGICHAMPS are going to help children with the process of education greatly.</p>

            <p>The videos of DIGICHAMPS are perfect blend of teachers, animation and practical application of studies in our life. Along with the videos DIGICHAMPS has a unique kind of a learning centre with all the facilities like Air Conditioned, Wi-Fi connected and Tab based learning classrooms. All the students enrolled with DIGICHAMPS get a chance to avail all these facilities at a minimal cost with an assurance of at least 5% growth in academics. Students also get an Android Tablet for their studies via videos.</p>

            <p>The first ever Ed-tech company in Bhubaneswar “DIGICHAMPS” launched its Funducation App on the 22nd of July 2017. The grand event was projected in the presence of eminent Guest of Honour Mr. Avelo Roy, founder Kolkata Ventures and Mr. Vikram Redlapalli CEO RDP.in along with the Chief Guest Dr. K.C.Satpathy, Director DAV, Eastern Zone. Other members on the stage were Dr. S. Minaketan the Chairman of ODM Educational Group and Mr. Swoyan Satyendu Founder CEO of DIGICHAMPS. The online App was launched in the campus of ODM Educational Campus.</p>

            <p>
                With a team of members comprising of young minds of not more than 35 years of age DIGICHAMPS has an aim to reach the sky and then prove that there is something much better beyond the sky and that is SUCCESS.
            </p>
        </div>
        <div class="clearfix" style="margin-bottom:40px;"></div>
    </section>
</div>