﻿@{
    ViewBag.Title = "Champ Camp";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<style>
  
    #banner{
        height: 40rem !important;
    }
</style>
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<div class="bodycontent">
    <section id="banner" style="background-image: linear-gradient(#0e86b6bf,#1cbdfe9e,#0e86b68c,#0e86b642);">
        <div class="inner">
            <div class="champheading">
                <h1><b>Champ</b> Camp</h1>
            </div>
            <p class="champsubheading">
                India's Biggest School Fest at Bhubaneswar | 20th-21st October, 18
            </p>
        </div>
        @*<img src="~/ContentWebsite/img/aboutus.jpg" width="100%" />*@
    </section>
    <section class="wrapper">
        <div class="clearfix" style="margin-bottom:40px;"></div>       
            <div class="container" style="padding-left:2%;padding-right:2%;">
                <div class="form-group">
                    <div class="col-md-7 col-sm-6 col-xs-12 champimage">                        
                        <img src="~/svg%20files/PARTICIPATE.svg" style="width:100%;height:300px;" />
                    </div>
                    <div class="col-md-5  col-sm-6 col-xs-12 champcontent" style="padding: 0px 30px;">
                        <div class="clearfix"></div>
                        <div class="champlearn">PARTICIPATE</div>
                        <div class="champcontenttitle">Get Once-in-a-Lifetime Exposure</div>
                        <div class="champcontentdescription">
                            Right from multiple events to workshops, the fest is tailor-made for school students to provide them with a big learning opportunity.
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:2%;"></div>
                <div class="form-group">
                    <div class="col-md-5  col-sm-6 col-xs-12 champcontent" style="padding: 0px 30px;">
                        <div class="clearfix"></div>
                        <div class="champlearn">WORKSHOPS</div>
                        <div class="champcontenttitle">Learn things that you haven't learnt</div>
                        <div class="champcontentdescription">
                            Coding, Digital Marketing, Robotics and Vedic Mathematics. Dedicated two day workshops to help you understand more and more about these fields and be a PRO
                        </div>
                    </div>
                    <div class="col-md-7  col-sm-6 col-xs-12 champimage">
                        <img src="~/svg%20files/Learn%20things.svg" style="width:100%;height:300px;" />

                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:2%;"></div>
                <div class="form-group">
                    <div class="col-md-7 col-sm-6 col-xs-12 champimage">
                        <img src="~/svg%20files/333-01-01.svg" style="width:100%;height:300px;" />
                        @*<img src="~/ContentWebsite/Champ Camp/333-01-01.png" style="width:100%;" />*@
                    </div>
                    <div class="col-md-5  col-sm-6 col-xs-12 champcontent" style=" padding: 0px 30px;">
                        <div class="clearfix"></div>
                        <div class="champlearn">COMPETITIONS</div>
                        <div class="champcontenttitle">A platform to showcase your talent</div>
                        <div class="champcontentdescription">
                            A Genius, A Dance, A Singer, A Writer or A Painter, Whoever you are..Come join us and show the world, how good you are..
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:2%;"></div>
                <div class="form-group">
                    <div class="col-md-5  col-sm-6 col-xs-12 champcontent" style="padding: 0px 30px;">
                        <div class="clearfix"></div>
                        <div class="champlearn">COMPETE & WIN</div>
                        <div class="champcontenttitle">Cash Prizes, Gifts and Career Sponsorships</div>
                        <div class="champcontentdescription">
                            Win cash prizes, gifts ranging from a cricket kit to tablets and career sponsorships worth 5,00,000 waiting right for you. Come and Catch them all. 
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 champimage">
                        <img src="~/svg%20files/showcase%20TALENT.svg" style="width:100%;height:300px;" />
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:2%;"></div>
                <div class="form-group">
                    <img src="~/ContentWebsite/Champ%20Camp/co%20partner%20banner.png" style="width:100%;" />
                    @*<div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/Career%20Launcher.gif" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/FIITJEE.jpg" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/KANAK.jpg" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/RedFM.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/Sambad.jpg" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/Times%20of%20India.png" style="width:100%;" />
                    </div>*@
                    @*<div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/learnmetric-21f34b00.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/make-my-trip-d4f38f47.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/oakfields-bb321f0e.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/practo-0a0c195c.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/sharaf-dg-10f6885c.png" style="width:100%;" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6" style="margin-bottom:10px;">
                        <img src="~/ContentWebsite/Champ%20Camp/untappd-f55b9ef7.png" style="width:100%;" />
                    </div>*@
                </div>
               
            </div>
       
    </section>
    <div class="clearfix"></div>

    <div class="middlepanel4main">
        <div class="form-group">

            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:10%;padding-top: 60px;">
                <div style="color:#1e1e1e; font-size:24px;text-transform:uppercase;font-weight:700; ">
                    To know more about the event
                </div>
                <div class="middlepanel4subheading" style="margin-top: 10px; margin-bottom: 10px;">
                    
                  <strong>Write to us-</strong>  support@learn.odmps.org
                   <br /><strong>Call us at-</strong>  1800-212-4322
                </div>
                <div class="clearfix" style="margin-bottom: 30px; margin-top: 10px;"></div>
               
                <div class="clearfix" style="margin-bottom: 10px;"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: left !important;">
                <img src="~/svg%20files/Counselling.svg" style="width:100%;" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        
        <div class="form-group" style="margin-bottom:0px;
background-image: url('../../svg%20files/banner-01.svg');background-size: cover;">
            <div class="clearfix"></div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
            <div class="col-md-7 col-sm-7 col-xs-6 text-right champstartjourney" style="color:white;">Register for the fest today</div>
            <div class="col-md-3 col-sm-3 col-xs-5 text-right">
                <button class="champdownload" style="color:white;border-color:white;" onclick="javascript:window.location='https://play.google.com/store/apps/details?id=com.sseduventures.digichamps'"><strong>DOWNLOAD</strong> APP</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="build/js/intlTelInput.js"></script>
<script src="~/ContentWebsite/build/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="~/ContentWebsite/Counter-Up-master/jquery.counterup.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>