﻿@{
    ViewBag.Title = "ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}


@*<div class="row" style="margin-left: 0px; margin-right: 0px; height: 100%; position: relative;">
    <div class="form-div" id="sign_up_form">
        <div class="col-md-6 popup_left" style="background-image:url('../../svg files/bg-01.svg');background-size:cover;">
            <div style="width: 100%; padding: 0%; padding-top: 0%; padding-bottom: 0%;height:100%;">
                <img src="~/svg%20files/student-01.svg" style="width:100%;" />

            </div>
        </div>

        <div class="col-md-6 popup_right">*@

<div id="popup_SIGNIN" class="popup_right_div">
   
    <div class="popup_right_div_heading">Login</div>
    <div class="popup_right_div_sub_heading">
        <label>ENTER YOUR MOBILE NUMBER</label>
    </div>
    <div style="margin-bottom:10px; display:block;">
        <input type="text" class="Mobile" id="login_mobile" name="login_mobile" maxlength="10" data-rule-minlength="10" data-rule-required="true" data-msg-required="Enter a valid phone number" />
    </div>
    <div class="popup_right_div_sub_heading">
        <label>ENTER YOUR PASSWORD</label>
    </div>
    <div>
        <input type="password" id="login_password" name="login_password" maxlength="25" data-rule-required="true" data-msg-required="Enter your password">
    </div>
    <a class="popup_right_div_forgot_password forgot" href="/Home/ForgotPassword">FORGOT PASSWORD?</a>
    <div style="margin-top:9%;">
        <button id="btn_login" class="popup_right_div_submit_button">
            LOGIN
        </button>
    </div>
    <div class="mt-3" style="height:30px">
        <div class="error_message"></div>
        <div class="success_message"></div>
    </div>
    @*<div class="popup_right_div_footer_div" style="margin-top:50px;">
            <span>DON'T HAVE AN ACCOUNT?</span>
        </div>
        <div>
            <button class="popup_right_div_footer_button" id="btn_signup">
                SIGN UP
            </button>
        </div>*@
</div>

@*</div>
            `
        </div>
    </div>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function clearsignin() {
            $("input[name='login_mobile']").val('');
            $("input[name='login_password']").val('');
        }
        $('#btn_login').click(function () {
            debugger;
            $('#divloader').fadeIn(300);
            if ($("input[name='login_mobile']").val() != null && $("input[name='login_mobile']").val() != "" && $("input[name='login_mobile']").val().length == 10) {
                if ($("input[name='login_password']").val() != null && $("input[name='login_password']").val() != "") {

                    $.get('/Home/SigninDetails', { User_name: $("input[name='login_mobile']").val(), password: $("input[name='login_password']").val() }, function (data) {
                        $('#popup_SIGNIN').find("div.error_message").css('display', 'none');
                        $('#popup_SIGNIN').find("div.success_message").css('display', 'none');
                        if (data == '1') {
                            debugger;
                            if ($('#hdnpakageid').val() != '') {
                                $('#popup_SIGNIN').fadeOut(300);
                                //allrelatedpackages
                                $.get('../Home/Getpackagedetailslist?id=' + $('#hdnpakageid').val() + '&brd=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '', function (data) {
                                    debugger;
                                    if (data.length > 0) {
                                        $('#allrelatedpackages').empty();
                                        for (var i = 0; i < data.length; i++) {
                                            var tr = '<div class="form-group planspanel">';
                                            tr += '<div class="form-group">';
                                            tr += '<div>';
                                            tr += '<h5><b>' + data[i].Package_Name + '</b></h5>';
                                            tr += '</div>';
                                            tr += '<div>';
                                            tr += 'Price: ' + data[i].Price + '/-';
                                            tr += '</div>';
                                            tr += '<div>';
                                            tr += 'Duration: ' + data[i].Subscripttion_Period + ' days';
                                            tr += '</div>';
                                            tr += '<div>';
                                            tr += data[i].Package_Desc;
                                            tr += '</div></div>';
                                            tr += '<div class="clearfix"></div>';
                                            tr += '<div class="form-group text-right">';
                                            tr += '<button class="planbuynow" onclick="BuyPackage(' + data[i].Package_ID + ')">Buy Now</button>';
                                            tr += '</div></div>';
                                            tr += '<div class="clearfix" style="margin-bottom:30px;"></div>';
                                            $('#allrelatedpackages').append(tr);
                                        }
                                        $('#lblpackageprices').html(data[0].Price);
                                        $('#lblpackagetaxamounts').html('0 %');
                                        $('#lblpackagediscountamounts').html('20 %');
                                        var discount = (data[0].Price * 80) / 100;
                                        $('#lblpackagetotalpayamounts').html(discount);
                                        //var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                                        //$('#lblexpertmonth').html(month);
                                        if (data[0].Is_Video == true) {
                                            $('.divlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                            $('.divtests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                                        }
                                        else {
                                            $('.divlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                            $('.divtests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                                        }
                                        if (data[0].Is_Doubt == true) {
                                            $('.divdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                                        }
                                        else {
                                            $('.divdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                                        }
                                        if (data[0].Is_Mentor == true) {
                                            $('.divmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                                        }
                                        else {
                                            $('.divmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                                        }
                                    }
                                    $('#divloader').fadeOut(300);
                                })
                                $('#popup_Buy_Package').fadeIn(300);
                            }
                            else {
                                $('#divloader').fadeOut(300);
                                window.location = "../Student/Index";
                            }
                            // if (window.location != '../Home/pricing') {

                            // }
                            //  else {
                            //    window.location="../student/packagepreview";
                            //  }
                        }
                        if (data == '-1') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("OTP is not confirmed");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }
                        if (data == '-2') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("Server Error..Try again");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }
                        if (data == '-3') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("Password doesnot match");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }
                        if (data == '-4') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("User name is not yet registered");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }
                        if (data == '-5') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("Log in is not accepted");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }
                        if (data == '-6') {
                            $('#divloader').fadeOut(300);
                            $('#popup_SIGNIN').find("div.error_message").html("Please login as a student");
                            $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                        }

                    })

                }
                else {
                    $('#divloader').fadeOut(300);
                    $('#popup_SIGNIN').find("div.error_message").html("Please enter your password");
                    $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
                }
            }
            else {
                $('#divloader').fadeOut(300);
                $('#popup_SIGNIN').find("div.error_message").html("Please enter your mobile number");
                $('#popup_SIGNIN').find("div.error_message").show().delay(5000).fadeOut();
            }
        })
    })
</script>