﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderConfirmation</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
       
    </script>
    <style>
        .thankyouheading {
            text-align: center;
            margin-top: 2%;
            font-size: 28px;
            font-weight: 600;
            color: green;
        }

        .thankyousubheading {
            text-align: center;
            font-size: 19px;
            font-weight: 600;
            color: #474343;
        }
         .Dashboardapplybtn{
            padding: 7px 30px 7px 30px;
    background-color: #1aa0d3;
    color: white;
    font-weight: 600;
        }
    </style>
    <style>
        .headings_h4 {
            font-weight: 700;
            color: #051c37;
            font-size: 22px;
        }

        .lnklearn {
            cursor: pointer;
        }

        .btntopbeginner {
            width: 320px;
            height: 60px;
            border-radius: 12px;
            /* padding: 10px 19% 10px 19%; */
            font-size: 17px;
            font-weight: 600;
            color: white;
            background: #e7747d;
        }

        .modaltopheading {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: #4c4c4c;
            max-width: 600px;
            margin: 0 auto;
        }

        .modalcirclelist {
            border-radius: 50%;
            height: 42px;
            width: 37px;
            background-color: #de305b;
            float: left;
            padding: 8px;
            margin-top: 9px;
        }

        .modalcircletext {
            color: #4c4c4c;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .modalhighlighttext {
            font-weight: 700;
            color: #7ed321;
            font-size: 12px;
            letter-spacing: .86px;
            text-transform: uppercase;
        }

        .modalicons {
            width: 50px;
            height: 50px;
            border-radius: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: 1px solid #d9d9d9;
            color: #9e9e9e;
        }

        .modaliconstext {
            margin-top: 5px;
            font-size: 12px;
            line-height: 14px;
            height: 28px;
            text-align: center;
            width: 50px;
        }

        .pricingouterdiv {
            border-radius: 5px;
            background: linear-gradient(135deg,#e7747d,#e1656a);
            /*border: 1px solid #e7747d;*/
        }

        .pricingbignnerbackcolor {
            background-color: #e05d63;
            border-radius: 5px 5px 0 0;
        }

        .pricingheading {
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .pricingheadingprice {
            font-size: 11px;
            font-weight: 600;
            margin-top: 27px;
            margin-bottom: 20px;
        }

        .pricingmainheadingprice {
            font-size: 25px;
            line-height: 25px;
            font-weight: 700;
            margin-left: 2px;
        }

        .pricingfooterdiv {
            padding: 10px 10px 0px 10px;
            background-color: white;
            margin-bottom: 0px !important;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .pricingfooterlearn {
            border-radius: 50%;
            height: 40px;
            background-color: #de305b;
            float: left;
            padding: 2px;
            margin-top: 9px;
        }

        .pricingfooterlearntext {
            float: left;
            text-align: left;
            color: #4c4c4c;
            font-size: 14px;
            font-weight: 600;
            padding: 6px;
        }

        .pricingfootertest {
            border-radius: 50%;
            height: 40px;
            background-color: #1d9fd2;
            float: left;
            padding: 8px;
            margin-top: 9px;
        }

        .pricingfooterdoubts {
            border-radius: 50%;
            height: 40px;
            background-color: #ff9844;
            float: left;
            padding: 8px;
            margin-top: 9px;
        }

        .pricingfootermentor {
            border-radius: 50%;
            height: 40px;
            background-color: #b3c642;
            float: left;
            padding: 8px;
            margin-top: 9px;
        }

        .modalouterbox {
            padding: 10px 20px 5px;
            border: 1px solid;
            border-radius: 6px;
            border-left: 10px solid #f8ae40;
            color: #4c4c4c;
            cursor: pointer;
        }

        .modalouterboxheading {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -.54px;
            font-weight: 700;
            margin-bottom: 0px !important;
        }

        .pricingexpertoutercolor {
            border-radius: 5px;
            background: linear-gradient(135deg,#f8ae40,#f7a54d);
            /*border: 1px solid #f4983a;*/
        }

        .pricingexpertbackcolor {
            background-color: #f4983a;
            border-radius: 5px 5px 0 0;
        }

        .pricingprooutercolor {
            border-radius: 5px;
            background: linear-gradient(135deg,#39b8af,#20aa9a);
            /*border: 1px solid #24a393;*/
        }

        .pricingprobackcolor {
            background-color: #24a393;
            border-radius: 5px 5px 0 0;
        }

        .pricingchampouterline {
            border-radius: 5px;
            background: linear-gradient(135deg,#5aaeef,#4e99e4);
            /*border: 1px solid #4493e6;*/
        }

        .pricingchampouterbackcolor {
            background-color: #4493e6;
            border-radius: 5px 5px 0 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-group text-center">
            <img src="~/ContentWebsite/img/success.png" style="padding-top: 20px; height: 175px;" />

        </div>
        <p class="thankyouheading">Thank you for your order!</p>
        <p class="thankyousubheading">Your order has been successfully placed with order number @TempData["Order_No"]. Now you can access your subscribed packages.</p>
        <div>
            <table align="center" style="width:60%;text-align:center;">
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Package Name</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["Package_Name"]</label>
                    </td>
                </tr>
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Subscription Period</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["Subscripttion_Period"]</label>
                    </td>
                </tr>
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Order Number</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["Order_No"]</label>
                    </td>
                </tr>
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Purchase Date</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["purchase_date"]</label>
                    </td>
                </tr>
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Package Price</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["price"]</label>
                    </td>
                </tr>
                <tr style="width:100%;padding:3px;">
                    <td style="width:40%;">
                        <b>Payble Amount</b>
                    </td>
                    <td style="width:60%;">
                        <label>@TempData["payble_price"]</label>
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group text-center" style="padding-top:3%;">
            <a class="Dashboardapplybtn" href="~/Student/Index">Go To Dashboard</a>
        </div>
    </div>
</body>
</html>
