﻿@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#popup_learn_more').fadeIn(300);
    })
</script>
<style>
      .btntopbeginner {
        width: 320px;
        height: 60px;
        border-radius: 12px;
        /* padding: 10px 19% 10px 19%; */
        font-size: 17px;
        font-weight: 600;
        color: white;
        background: #e7747d;
    }
       .modaltopheading {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #4c4c4c;
        max-width: 600px;
        margin: 0 auto;
    }
        .modalcirclelist {
        border-radius: 50%;
        height: 42px;
        width: 37px;
        background-color: #de305b;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .modalcircletext {
        color: #4c4c4c;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .modalhighlighttext {
        font-weight: 700;
        color: #7ed321;
        font-size: 12px;
        letter-spacing: .86px;
        text-transform: uppercase;
    }

    .modalicons {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid #d9d9d9;
        color: #9e9e9e;
    }

    .modaliconstext {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        height: 28px;
        text-align: center;
        width: 50px;
    }
      .modalouterbox {
        padding: 10px 20px 5px;
        border: 1px solid;
        border-radius: 6px;
        border-left: 10px solid #f8ae40;
        color: #4c4c4c;
        cursor: pointer;
    }

    .modalouterboxheading {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.54px;
        font-weight: 700;
        margin-bottom: 0px !important;
    }
</style>
<div class="modal" id="popup_learn_more">
    <div class="modal-content" style="width: 1000px;height: 630px;margin-left:11%;margin-top:2%;">
        <div class="modal-header" style="padding-bottom:0px !important;">
            <span class="close-popup c-hover" id="learnclosebtn2"><i class="ti-close"></i></span>
            <div class="form-group text-center" style="margin-left: 34%;margin-bottom:0px !important;">
                <button class="btntopbeginner">
                    <span id="lblmodalheading"></span>
                    <br />
                    <img src="~/svg%20files/Rupees.svg" /><span id="lblmodalheadingprice"></span>
                </button>
            </div>
        </div>
        <div class="modal-body" style="height:500px;overflow-y:scroll;">           
            <div class="form-group text-center modaltopheading">
                Also look at these plans
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="row">
           <div class="col-md-4">
              
           </div>
            </div>
            <div class="clearfix" style="margin-bottom:15px;"></div>
           
        </div>
        
    </div>
</div>
