﻿@{
    ViewBag.Title = "Answer Ticket";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />

@using (Html.BeginForm("GetTaskDetails", "Teacher", FormMethod.Post, new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
{
   
    <div class="page-content-wrap">
        <div class="page-title">
            <div>
                <h1>
                    <i class="fa fa-file-o"></i>Task Details
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Task</h3>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Task Heading<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.TaskDetails != null)
                                {
                                    <input type="text" name="taskhead" class="form-control" data-rule-required="true" value="@ViewBag.TaskDetails.Task_Heading" />

                                }
                                else
                                {
                                    <input type="text" name="taskhead" class="form-control" data-rule-required="true"/>

                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Task Details<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
@if (ViewBag.TaskDetails != null)
{
    <textarea class="form-control" rows="4" id="Answer_Ticket" name="taskdetails" data-rule-required="true" data-msg-required="Please enter answer description">

        @ViewBag.TaskDetails.Task_Details
    </textarea>
}
else
{
    <textarea class="form-control" rows="4" id="Answer_Ticket" name="taskdetails" data-rule-required="true" data-msg-required="Please enter answer description">

       
    </textarea>
}
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Task Start Date<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
@if (ViewBag.TaskDetails != null)
{
                                <input type="text" class="form-control datepicker" readonly name="sdate" data-rule-required="true" value="@ViewBag.TaskDetails.Start_Date" />
}
else
{
    <input type="text" class="form-control datepicker" readonly name="sdate" data-rule-required="true"/>
}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Task End Date<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
@if (ViewBag.TaskDetails != null)
{
    <input type="text" class="form-control datepicker" readonly name="edate" data-rule-required="true" value="@ViewBag.TaskDetails.End_Date" />

}
else
{
    <input type="text" class="form-control datepicker" readonly name="edate" data-rule-required="true"/>

}
                            </div>
                        </div>
                        <div class="form-group">
@if (ViewBag.TaskDetails != null)
{
    <input type="hidden" name="TaskID" value="@ViewBag.TaskDetails.MentorTask_ID">
    
}
else
{
    <input type="hidden" name="TaskID" value="" >
    
}
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Goal Task Text<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.Goal != null)
                                    {
                                        <input type="text" class="form-control" name="goaltax" data-rule-required="true" value="@ViewBag.Goal.GoalText" />

                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="goaltax" data-rule-required="true" />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Goal Achieved<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.Goal != null)
                                    {
                                        if (ViewBag.Goal.Is_Achieved == true)
                                        {
                                            <span>Yes</span><input type="radio" name="is_achived" checked value="1" /><br />
                                            <span>No</span> <input type="radio" name="is_achived" value="0" />
                                        }
                                        else
                                        {
                                            <span>Yes</span> <input type="radio" name="is_achived" value="1" /><br />
                                            <span>No</span> <input type="radio" name="is_achived" checked value="0" />
                                        }



                                    }
                                    else
                                    {
                                       <span>Yes</span>  <input type="radio" name="is_achived" value="1" /><br />
                                       <span>No</span> <input type="radio" name="is_achived" value="0" />
                                    }
                                </div>
                            </div>





                            <input type="hidden" name="studentID" value="@ViewBag.studentids" />                           
                        </div>



                        <div class="form-group last">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2 box-tooll">
                                <div>

                                   
                                        <button id="btnSearch" type="submit" name="Answer" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit Task</span></button>
                                       

                                   
                                     <a class="btn btn-large btn-primary" title="Back" href="@Url.Action("Studenttaskdetails", "Teacher", new {id =@ViewBag.studentids  })"><i class="fa fa-undo"></i> <span>Back</span></a>
                                   @* @Html.ActionLink("  Back", "ViewTickectDetail", "Teacher", new { id = ViewBag.h_tkid }, new { @class = "btn btn-primary btn-group fa fa-caret-left", @title = "Back" })*@
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    
}

