﻿@model DigiChamps.Models.SchoolModel.ToppersWayModel

@{
    ViewBag.Title = "Create Or Edit Topper's Way";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
<script src="~/Student_assets/crop/scripts/jquery.min.js"></script>





@*<script src="~/Student_assets/crop/scripts/jquery.min.js"></script>*@
@*<script src="../Student_assets/crop/scripts/jquery.min.js"></script>*@
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "danger";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<style>
    .errorMsg {
        color: #a94442;
    }
</style>
@using (Html.BeginForm("AddTopperWay", "School", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", id = "validation-form" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.FileName)
    @Html.HiddenFor(x => x.path)
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Topper's Way</h3>

                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Select Class<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">

                            @(Html.DropDownListFor(x => x.Class_Id, ViewBag.ClassList as SelectList, "Please Select Class", new { @onchange = "getSectionList()", @class = "form-control", @id = "ddlClass", data_rule_required = "true", data_msg_required = "Please enter class" }))
                            @Html.HiddenFor(x => x.Class_Id)
                            @Html.ValidationMessageFor(x => x.Class_Id)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Select Section<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <select id="sectionDropDown" class="form-control" data_rule_required="true" , data_msg_required="Please Select Class">
                                <option value="">---Select Section---</option>
                            </select>
                            @Html.HiddenFor(x => x.SectionId)
                            <span id="sectionDropDownValidation" class="help-block has-error errorMsg"></span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Title<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control" data-rule-required="true" data-msg-required="Please enter title.">
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Upload File<span class="asterisk"></span></label>
                        <div class="col-sm-9  controls">

                            <input type="file" value="Choose a file" accept="/*" id="fileUpload" name="fileUpload" data_rule_required="true" , data_msg_required="Please select File" />
                            @if (!string.IsNullOrEmpty(Model.FileName))
                            {
                                <a href="#" id="uploadedFile">@Model.FileName</a>
                            }
                            <span id="fileUploadValidation" class="help-block has-error errorMsg"></span>
                        </div>
                    </div>


                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                            <a href="@Url.Action("GetToppersWay", "School")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                            <button id="btnAddTopper" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

}
@section scripts {

    <script>
        function getSectionList() {
            debugger;
            var ClassId = $("#ddlClass").val();
            $.ajax({
                url: '/School/GetsectionList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({ ClassId: +ClassId }),
                success: function (result) {
                    debugger;
                    $("#sectionDropDown").html("");
                    $("#sectionDropDown").append
                    ($('<option></option>').val(null).html("---Select Section---"));
                    $.each(result.Result, function (i, section)
                    { $("#sectionDropDown").append($('<option></option>').val(section.SectionId).html(section.SectionName)) });
                    if ($("#SectionId").val()) {
                        $("#sectionDropDown").val($("#SectionId").val());
                    }

                },
                error: function () { alert("Whooaaa! Something went wrong..") },
            });
        }
    </script>
    <script>
        var isChanged = false;
        $(document).ready(function () {
            //jQuery(document).ajaxStart(function () {
            //    ajaxindicatorstart('loading data.. please wait..');
            //}).ajaxStop(function () {
            //    ajaxindicatorstop();
            //});

            $("#btnAddTopper").click(function () {
                if ($('#sectionDropDown :selected').val()) {
                    $("#SectionId").val($("#sectionDropDown").val());
                }
                else {
                    $("#SectionId").val("");
                    $("#sectionDropDownValidation").show();
                    $("#sectionDropDownValidation").html("Please Select Section.");
                    return false;
                }
            });

            if ($("#SectionId").val()) {
                getSectionList();
                $("#sectionDropDown").val($("#SectionId").val());
            }


            $('#validation-form').submit(function (e) {
                //alert("in");
                //console.log($(this).serialize());
                debugger;
                //showloader();
                var fileData = new FormData();

                fileData.append('ClassId', $('#ddlClass :selected').val())

                // fileData.append('SchoolName', $("#txSchoolName").val())
                //if ($("#path").val() != '') {
                //    var fileUpload = $("#path").get(0);
                //    var files = fileUpload.files;
                //    fileData.append('path', files[0])
                //}
                var imgVal = $('#fileUpload').val();
                if (imgVal == '') {
                    if (!$("#uploadedFile").val() && $("#Id").val() != "00000000-0000-0000-0000-000000000000") {

                    }
                    else {
                        $("#fileUploadValidation").show();
                        $("#fileUploadValidation").html("Please Select file.");
                        return false;
                    }

                }

                if ($("#validation-form").valid()) {
                    $(".loader-ajax-container").css("display", "block");
                }





                //var status = Validation();


                //$.ajax({
                //    type: 'POST',
                //    url: "/School/AddTopperWay",
                //    contentType: false, // Not to set any content header
                //    processData: false,
                //    data: fileData,
                //    success: function (data) {
                //        $(".loader-ajax-container").css("display", "none");
                //        console.log(data);
                //        if (data)
                //            window.location.href = '/School/GetToppersWay/';
                //    }

                //});

            });
        });
    </script>
}