﻿@{
    ViewBag.Title = "EditTeachers";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@model DigiChamps.Models.Teacher

<div class="form-horizontal" id="validation-form">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/School/GetallTeachers">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Edit Teacher</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Edit Teacher</h3>

                </div>
              
                <div class="box-content">

                    <form method="post" action="EditTeachers">
                        <input type="hidden" value="@ViewBag.TeacherId" name="TeacherId" class="form-control" />
                        <div class="form-group voffset4 ">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Name :<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" value="@ViewBag.Name" name="Name" class="form-control" required="required" data_msg_required="Please enter Name" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Email :<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="email" value="@ViewBag.Email.Trim()" name="Email" class="form-control" required="required" data_msg_required="Please enter Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Mobile :<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" value="@ViewBag.Mobile.Trim()" name="Mobile" class="form-control" required="required" data_msg_required="Please enter Mobile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Password :<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="password" value="@ViewBag.Password.Trim()" name="Password" class="form-control" required="required" data_msg_required="Please enter Password" />
                            </div>
                        </div>
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>

                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
