﻿@{
    ViewBag.Title = "GetallTeachers";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
@model IEnumerable<DigiChamps.Models.Teacher>




    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Teacher List</h3>
                    <div class="box-tool box-tooll">
                        <a href="/School/CreateTeachers/" class="btn btn-primary"><i class="fa fa-plus"></i><span>Add Teachers</span></a>
                        <a class="btn btn-primary" href="/School/uploadTeachers/"><i class="fa fa-upload"></i><span> Upload Teachers</span></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Teacher Name </th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                     <th>Status</th>
                                    <th>Action</th>
                                    <th style="display:none;">UserId</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td>@(rowNo += 1)</td>

                                    <td>@item.Name</td>
                                    <td>@item.Mobile</td>
                                    <td>@item.Email</td>
                                    @if (item.Is_Active == true)
                                    {
                                        <td>
                                            Active
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Deleted
                                        </td>
                                    }

                                    <td style="display:none;">@item.TeacherId</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditTeachers", "School", new { TeacherId = @item.TeacherId }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @data_original_title = "Edit", @title = "Edit Teacher" })


                                        @if (item.Is_Active == true)
                                        {
                                            @Html.ActionLink(" ", "DeleteTeacher", "School", new { id = @item.TeacherId, Status = "D" }, new { @class = "btn btn-sm btn-danger fa fa-lock", @data_original_title = "Delete", @title = "Delete Teacher" , onclick = "confirm('Are You Sure Want To Delete Teacher..?')" })


                                        }
                                        else
                                        {                                          

                                           @Html.ActionLink(" ", "DeleteTeacher", "School", new { id = @item.TeacherId, Status = "A" }, new { @class = "btn btn-sm btn-success fa fa-unlock", @data_original_title = "Active", @title = "Active Teacher" , onclick = "confirm('Are You Sure Want To Active Teacher..?')" , style = "padding: 5px 8px" })

                                        }

                                        </td>

                                </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

