﻿@{
    ViewBag.Title = "GetRegisteredUserReport";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}


@*<script>
    $(document).ready(function () {
        GetBoard();
        GetClass('0');
        GetSection('0');
        GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {

            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {

            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {

            if (id != '0') {

                $.get("/School/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
            }
        }

        //========================GET SECTION DETAILS==================================//
        $('#btnexport').click(function () {
            $.get('/School/Exportallregisteredreportdata?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {

            })
        })
        $('#btnsearch').click(function () {
            $.get('/School/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '</tr>';
                    }

                    //var table = $('#table1').DataTable();
                    //debugger;
                    //table.fnClearTable();
                    $('#table1 tbody').html(tr);
                    // $('#table1').dataTable().fndraw();

                }
                else {
                    $('#table1 tbody').empty();
                }

            })
        })
        function GetAllusers() {
            $.get('/School/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                debugger;
                var tr = '';
                $('#table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '</tr>';
                    }
                  
                    $('#table1 tbody').html(tr);
                   
                }
                else {
                    $('#table1 tbody').empty();
                }

            })
        }
    })
</script>*@

<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Users </h3>
                    <div class="box-tool box-tooll">
                      @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
            {
            <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                @message
            </div>
            }
                <div class="box-content">
                  
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Section</div>
                        <div class="col-md-4">
                            <select id="ddlsection" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group text-center">
                        <button id="btnsearch" class="btn btn-primary">Search</button>
                    </div>
                    <div class="clearfix"></div>
                    </div>

                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Total Number of Users : <label id="lblcount"></label> </h3>
                        <div class="box-tool box-tooll">
                            <a class="btn btn-primary" href="~/School/Exportallregisteredreportdata" id="btnexport"><i class="fa fa-plus"></i><span> Excel</span></a>
                        </div>
                    </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>School Name</th>
                                    <th>Regd No</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    @*<th>Section</th>*@
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {

        GetBoard();
        GetClass('0');
        GetSection('0');
        GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
      
        $('#btnsearch').click(function () {
            $('.loader-ajax-container').fadeIn(300);
            $.get('/School/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                      //  tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '<td><a href="/School/EditStudentDetails?id='+data[i].Regd_ID+'" class = "btn btn-sm btn-primary show-tooltip">Edit</a>';
                        tr += '<a href="/School/DeleteStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-danger show-tooltip">Delete</a></td>';
                        tr += '</tr>';
                    }
                    debugger;
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    $('.loader-ajax-container').fadeOut(300);
                }
                else {
                    $('#table1 tbody').empty();
                    $('.loader-ajax-container').fadeOut(300);
                }

            })
        })
        function GetAllusers() {
            $('.loader-ajax-container').fadeIn(300);
            $.get('/School/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        //tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '<td><a href="/School/EditStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-primary show-tooltip">Edit</a>';
                        tr += '<a href="/School/DeleteStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-danger show-tooltip">Delete</a></td>';
                        tr += '</tr>';
                    }
                    // var oTable = $('#table1').dataTable();
                    // oTable.fnDestroy();
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    
                }
                else {
                    $('#table1 tbody').empty();
                }
                $('.loader-ajax-container').fadeOut(300);
            })
        }
    })
</script>
