﻿@{
    ViewBag.Title = "Upload_Exam_PDF";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Add Exam PDF </h3>
                @*<div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/CreateAssignSubjectToTeacher/"><i class="fa fa-plus"></i><span> Add Exam</span></a>
                    </div>*@
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                @using (Html.BeginForm("Save_Upload_Exam_PDF", "School", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Board</div>
                            <div class="col-md-4">
                                <select id="ddlboard" name="board" class="form-control" required></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Class</div>
                            <div class="col-md-4">
                                <select id="ddlclass" name="cls" class="form-control" required></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        @*<div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Section</div>
                            <div class="col-md-4">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>*@
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Subject</div>
                            <div class="col-md-4">
                                <select id="ddlsubject" name="subject" class="form-control" required></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Exam Name</div>
                            <div class="col-md-4">
                                <input type="text" id="name" name="name" class="form-control" required />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Start Time</div>
                            <div class="col-md-4">
                                <input type="datetime-local" id="txtstarttime" name="StartTime" class="form-control" required />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">End Time</div>
                            <div class="col-md-4">
                                <input type="datetime-local" id="txtendtime" name="EndTime" class="form-control" required />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Total Mark</div>
                            <div class="col-md-4">
                                <input type="number" id="txtmark" name="Total_Mark" class="form-control" required />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Upload PDF</div>
                            <div class="col-md-4">
                                <input type="file" id="examfile" name="examfile" accept="application/pdf" required />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="form-group text-center"><input type="submit" value="Submit" class="btn btn-primary" /></div>
                }

            </div>

        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {

        GetBoard();
        GetClass('0');
        GetSection('0');
      //  getteacherslist('0', '0');
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }

                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }

                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

               @* $.get("/School/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="@Guid.Empty" selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }

                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="@Guid.Empty">All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });*@
            $.get("/School/GetSubjectData?id=" + id, function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option selected>Select Subject</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                    }

                }
                else {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option>Select Subject</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
    else {
        //        $('#ddlsection').empty();
        //$('#ddlsection').append('<option selected>Select Section</option>');
        $('#ddlsubject').empty();
        $('#ddlsubject').append('<option selected>Select Subject</option>');
        $('.loader-ajax-container').fadeOut(300);
    }
    }

    //========================GET SECTION DETAILS==================================//
        //$('#ddlsection').change(function () {
        //    if ($('#ddlsection').val() != 'Select Section' && $('#ddlsubject').val() != 'Select Subject') {
        //        getteacherslist($('#ddlsection').val(), $('#ddlsubject').val());
        //    }
        //})
        //$('#ddlsubject').change(function () {
        //    if ($('#ddlsection').val() != 'Select Section' && $('#ddlsubject').val() != 'Select Subject') {
        //        getteacherslist($('#ddlsection').val(), $('#ddlsubject').val());
        //    }
        //})
    //function getteacherslist(secid, subjectid) {

    //    $('.loader-ajax-container').fadeIn(300);
    //    if (secid != '0' & subjectid != '0') {

    //        $.get("/School/GetTeachersList?subject=" + subjectid + "&sec=" + secid, function (data) {
    //            debugger;
    //            if (data.length > 0) {
    //                $('#ddlteacher').empty();

    //                $('#ddlteacher').append('<option selected>Select Teacher</option>');
    //                for (var i = 0; i < data.length; i++) {
    //                    $('#ddlteacher').append('<option value="' + data[i].TeacherId + '">' + data[i].Name + '</option>');
    //                }

    //            }
    //            else {
    //                $('#ddlteacher').empty();
    //                $('#ddlteacher').append('<option>Select Teacher</option>');

    //            }
    //            $('.loader-ajax-container').fadeOut(300);
    //        }).fail(function (xhr) {
    //            alert(xhr.responseText); // or whatever
    //        });
    //    }
    //    else {
    //        $('#ddlteacher').empty();
    //        $('#ddlteacher').append('<option selected>Select Teacher</option>');
    //        $('.loader-ajax-container').fadeOut(300);
    //    }
    //}
    })
</script>
