﻿@{
    ViewBag.Title = "ViewSendSMS";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="page-content-wrap">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/School/SchoolDashBoard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>SMS Details</h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/AddSendSMS"><i class="fa fa-plus"></i><span>Add New</span> </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Customer </th>
                                    <th>Class </th>
                                    <th>Section </th>
                                    <th>Description</th>
                                    <th>Inserted Date</th>    
                                    @*<th style="width: 15%;">Action</th>*@
                                    <th hidden> id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.data != null)
                                {
                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.Customer_Name</td>
                                            <td>@item.Class_Name</td>
                                            <td>@item.Section_Name</td>
                                            <td>@item.SMS_Message</td>
                                            <td>
                                                @{
                                        DateTime dt = Convert.ToDateTime(@item.Inserted_On);
                                                }
                                                @dt.ToShortDateString()
                                            </td>
                                            @*<td>
                                                @Html.ActionLink(" ", "AddSendSMS", "Admin", new { ID = @item._ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })

                                                @Html.ActionLink(" ", "DeleteSMS", "Admin", new { ID = @item.SMS_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the banner?')", @data_original_title = "Delete", @title = "Delete" })

                                            </td>*@
                                            <td hidden>@item.SMS_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
