﻿@model DigiChamps.Models.DigiChampsModel.DigichampsTestReport
@{
    ViewBag.Title = "ViewTestReport";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="page-content-wrap">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/School/SchoolDashBoard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    @using (Html.BeginForm("ViewTestReport", "School", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
    {
        @Html.AntiForgeryToken();
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Board == null) //insert
                                {
                                @(Html.DropDownList("Board_Name", ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select board", @id = "ddlboard" }))

                                }
                                else
                                {
                                <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="disabled">
                                    <option value="">Please Select Board</option>
                                    @foreach (var v in ViewBag.Board)
                                        {
                                            if (ViewBag.b_id == v.Board_Id)
                                            {
                                    <option value="@v.Board_Id" selected="selected">@v.Board_Name</option>
                                            }
                                            else
                                            {
                                    <option value="@v.Board_Id">@v.Board_Name</option>
                                            }
                                        }
                                </select>

                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Class == null) //insert
                                {
                                @(Html.DropDownListFor(x => x.Class_Name, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select class", @id = "ddlclass" }))                                    @Html.ValidationMessageFor(x => x.Class_Id)
                                }
                                else
                                {
                                <select id='ddlclass' name="Class_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled">
                                    <option value="">Please Select Class</option>
                                    @foreach (var v in ViewBag.Class)
                                        {
                                            if (ViewBag.classid == v.Class_Id)
                                            {
                                    <option value="@v.Class_Id" selected="selected">@v.Class_Name</option>
                                            }
                                            else
                                            {
                                    <option value="@v.Class_Id">@v.Class_Name</option>
                                            }
                                        }
                                </select>
                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.section != null)
                                {
                                @(Html.DropDownListFor(x => x.SectionName, new List<SelectListItem>(), "Please Select Section", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select section", @id = "ddlsection" }))
                                }
                                else
                                {
                                <select id='ddlsection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="Please select SectionName" disabled="disabled">
                                    <option value="">Please Select SectionName</option>
                                    @foreach (var v in ViewBag.SectionName)
                                        {
                                            if (ViewBag.section == v.Value)
                                            {
                                    <option value="@v.Value" selected="selected">@v.Text</option>
                                            }
                                            else
                                            {
                                    <option value="@v.Value">@v.Text</option>
                                            }
                                        }
                                </select>
                                }
                            </div>
                        </div>
                        @*<div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-search"></i> Search Question</h4>
                            </div>*@

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @*@Html.DropDownList("ddlsubject", ViewBag.subjlist as SelectList, "Please Select Subject", new { @id = "ddlsubject" , @class="form-control"})*@
                                <select id='ddlsubject' name="ddlsubject" class="form-control" data-rule-required="true" data-msg-required="Please select subject">
                                    <option value="">Please Select Subject</option>
                                    @foreach (var v in ViewBag.subjlist)
                                            {
                                                DigiChamps.Models.DigiChampsEntities dbcontext = new DigiChamps.Models.DigiChampsEntities();
                                                int clid = Convert.ToInt16(v.Class_Id);
                                                var classname = dbcontext.tbl_DC_Class.Where(x => x.Class_Id == clid).FirstOrDefault();
                                            <option value="@v.Subject_Id">@classname.Class_Name - @v.Subject</option>
                                            }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ddlchapter" id="ddlchapter" class="form-control" data-rule-required="true" data-msg-required="Please select chapter">
                                    <option value="">Please Select Chapter</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Name<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Exam != null)
                                {
                                    @(Html.DropDownListFor(x => x.Exam_Name, new List<SelectListItem>(), "Please Select Exam Name", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select Exam Name", @id = "ddlexam" }))
                                }
                                else
                                {
                                    <select id='ddlexam' name="Exam_Name" class="form-control" data-rule-required="false" data-msg-required="Please Select Exam Name" disabled="disabled">
                                        <option value="">Please Select Exam Name</option>
                                        @foreach (var v in ViewBag.Exam)
                                        {
                                            if (ViewBag.Exam == v.Exam_ID)
                                            {
                                                <option value="@v.Exam_ID" selected="selected">@v.Exam_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Exam_ID">@v.Exam_Name</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btnSearch" type="submit" class="btn btn-warning btn-sm" style="margin-left: 203px;">
                                <i class="fa fa-search"></i><span> Search</span>
                            </button>&nbsp;&nbsp;
                            @*<button id="btnDelete" title="Delete Question" type="button" class="btn btn-warning btn-sm">
                                    <i class="fa fa-trash-o"></i><span> Delete</span>
                                </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-list-ul"></i>Search Test Reports By Date </h3>
                    </div>
                    <div class="box-content">
                        <div class="page-content-wrap">
                            <div class="row">
                                <div class="">

                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="fdate"
                                                   autocomplete="off" data-rule-required="true" data-msg-required="Please select From date"
                                                   name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="tdate" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date"
                                                   class="datepicker form-control" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12" style="margin-top: -20px;width: 102.5%;margin-left: -15px;">
        <div class="box">
            <div class="box-content">
                <div class="form-group last box-tooll">
                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2" style="margin-top: -2%;">
                        <button id="btnadd" type="submit" class="btn btn-primary" onclick="javascript: search();"><i class="fa fa-search"></i><span> Search</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Test Report Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: make();"><i class="fa fa-file-pdf-o"></i> SHOW CHART</a>
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: demoFromHTML();"><i class="fa fa-file-pdf-o"></i> PDF</a>
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student Name</th>
                                    <th>Mark</th>
                                    <th hidden> id</th>
                                </tr>
                            </thead>
                            <tbody id="tbdlist">
                                @if (ViewBag.data != null)
                                {
                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.Customer_Name</td>

                                            <td>
                                                @{
                                        DateTime dt = Convert.ToDateTime(@item.Report_Date);
                                                }
                                                @dt.ToShortDateString()
                                            </td>
                                            <td>
                                                @{
                                        DateTime dt1 = Convert.ToDateTime(@item.Inserted_On);
                                                }
                                                @dt.ToShortDateString()
                                            </td>


                                            <td>
                                                @Html.ActionLink(" ", "DeleteReport", "School", new { ID = @item.ReportModuleMaster_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the banner?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                            <td hidden>@item.UserReport_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#ddlboard').change(function () {
                if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                    // do nothing
                } else {
                    $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                }
                $('#ddlclass').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: $('#ddlboard').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                        setTimeout(function () {
                            $('#ddlclass').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });

            @if(ViewBag.classid != null)
        {<text>
            var statesAvailable = '@ViewBag.classid';
            var subid = '@ViewBag.subject_id';
            if (subid != null) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: '@ViewBag.b_id' },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == statesAvailable) {
                                sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                        @if(ViewBag.classid != null)
                    {
                        <text>
                        $('#ddlclass').attr("disabled", "disabled");</text>
                    }
                    }
                });
            }</text>
        }
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#ddlclass').change(function () {
                $('#ddlclass').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/School/GetAllSection",
                    data: { brdId: $('#ddlclass').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(JSON.stringify(data));

                        var sta = "<select>";
                        sta = sta + '<option value="">Select Section</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta = sta + '</select>';
                        $('#ddlsection').html(sta);
                        setTimeout(function () {
                            $('#ddlclass').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });


        });

    </script>

    @*Subject & Chapter Search*@
    <script>
        $('#ddlsubject').change(function () {
            if ($('#ddlchapter').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlchapter').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlchapter').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllChapter",
                data: { SubId: $('#ddlsubject').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta1 = sta1 + '<option value="">Please Select Chapter</option>';
                    for (var i = 0; i < data.length; i++) {
                        sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    $('#ddlchapter').html(sta1);
                    setTimeout(function () {
                        $('#ddlchapter').closest('.form-group').removeClass('display-loader');
                    }, 800);
                }
            });

        });


    </script>
}

