﻿@{
    ViewBag.Title = "ViewReportData";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet"
      href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript"
        src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    $(document).ready(function () {
        GetBoard();

        function GetBoard() {
            $.get("../School/GetBoard", function (data) {
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">Select Board Name</option>');
                    for (var i = 0; i < data.length; i++) {
                        var res = '<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>';
                        $('#ddlboard').append(res);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">No Records Found</option>');
                }
            })
        }
        function GetClass(id) {
            debugger;
            if (id != '0') {
                $.get("../School/GetClasses?B_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlclass').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">Select Class Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>';
                            $('#ddlclass').append(res);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlclass').prop("disabled", true);
                $('#ddlclass').empty();
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }
        function GetSections(id) {
            if (id != '0') {
                $.get("../School/GetSections?C_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlsection').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">Select Section Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>';
                            $('#ddlsection').append(res);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }

        $('#ddlboard').change(function () {
            debugger;
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            debugger;
            GetSections($('#ddlclass').val());
        })

        $('#btnadd').click(function () {
            debugger;
            if ($('#fdate').val() == '') {
                alert('Please Select From Date');
                $('#fdate').focus();
                return false;
            }
            if ($('#tdate').val() == '') {
                alert('Please Select To Date');
                $('#tdate').focus();
                return false;
            }
            if ($('#ddlboard').val() != '0') {
                if ($('#ddlclass').val() == '0') {
                    alert('Please Select Class Name');
                    $('#ddlclass').focus();
                    return false;
                }
            }
            // For Video Report Table List
            $.ajax({
                type: "POST",
                url: "../School/GetVideoReportList",
                data: {
                    f_Date: $('#fdate').val(),
                    t_Date: $('#tdate').val(),
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    $('#tbdlist').empty();
                    if (data.length > 0) {
                        var tr = '';
                        for (var s = 0; s < data.length; s++) {
                            tr += '<tr><td>' + (s + 1) + '</td>';
                            tr += '<td>' + data[s].Customer_Name + '</td>';
                            tr += '<td>' + data[s].Module_Name + '</td>';
                            tr += '<td>' + data[s].Video_Time + '</td>';
                            tr += '<td>' + data[s].ReportDate + '</td>';
                            tr += '<td>' + data[s].InsertedOn + '</td></tr>';
                        }
                        debugger;
                        var oTable = $('#tblVideoReport').dataTable();
                        oTable.fnDestroy();
                        //I put in new values 'newList' on the body
                        $('#tblVideoReport tbody').html(tr);
                        //I reinitialize the datatable
                        $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                    }
                    else {
                        var oTable = $('#tblVideoReport').dataTable();
                        oTable.fnDestroy();
                        //I put in new values 'newList' on the body
                        $('#tblVideoReport tbody').html('');
                        //I reinitialize the datatable
                        $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                    }

                }
            })
            // For Video Report Table List

            // For Chart of Total No.of Users - Date Wise Chart
            $.ajax({
                type: "POST",
                url: "../School/GetVideoReportList",
                data: {
                    f_Date: $('#fdate').val(),
                    t_Date: $('#tdate').val(),
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    var dataPoints = [];

                    for (var i = 0; i < data.length; i++) {
                        dataPoints.push({ label: data[i].date, y: parseInt(data[i].value) });
                    }
                    var chart = new CanvasJS.Chart("chartdiv", {
                        theme: "theme2",
                        title: {
                            text: "Total No.of Users - Date Wise Chart"
                        },
                        data: [
                    {
                        type: "column",
                        dataPoints: dataPoints
                    }
                        ]
                    });
                    chart.render();
                }
            });
            // For Chart of Total No.of Users - Date Wise Chart



        })

    })
</script>

<div class="form-horizontal">
    <div class="container">
        <div style="font-size:18px;">@ViewBag.SchoolName</div>
    </div>
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/School/SchoolDashBoard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active"><label id="lblBreadcrumb"></label></li>
            </ul>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @*<h3><i class="fa fa-file"></i> Add New</h3>*@
                    </div>
                    <input type="hidden" id="hid" name="hid" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlclass' name="Class_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlsection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="Please select SectionName" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-list-ul"></i>Search Reports By Date </h3>
                    </div>
                    <div class="box-content">
                        <div class="page-content-wrap">
                            <div class="row">
                                <div class="">

                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="fdate"
                                                   autocomplete="off" data-rule-required="true" data-msg-required="Please select From date"
                                                   name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="tdate" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date"
                                                   class="datepicker form-control" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: -20px;width: 102.5%;margin-left: -15px;">
            <div class="box">
                <div class="box-content">
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2" style="margin-top: -2%;">
                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file-text"></i>Report Details</h3>
                        <div class="box-tool box-tooll">
                            @*<button onclick="javascript:demoFromHTML();">PDF</button>*@
                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: make();"><i class="fa fa-file-pdf-o"></i> SHOW CHART</a>
                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: demoFromHTML();"><i class="fa fa-file-pdf-o"></i> PDF</a>
                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="clearfix"></div>
                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="tblVideoReport">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>User</th>
                                        <th>Video</th>
                                        <th>TotalTime</th>
                                        <th>Report Date</th>
                                        <th>Inserted Date</th>
                                        @*<th style="width: 15%;">Action</th>*@
                                        @*<th hidden> id</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@if (ViewBag.Data != null)
                                        {
                                            int rowNo = 0;
                                            foreach (var item in ViewBag.Data)
                                            {
                                                <tr>
                                                    <td>@(rowNo += 1)</td>
                                                    <td>@item.Customer_Name</td>
                                                    <td>@item.Module_Name</td>
                                                    <td>@item.Video_Time</td>
                                                    <td>@item.ReportDate</td>
                                                    <td>@item.InsertedOn</td>
                                                </tr>
                                            }
                                        }*@

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Total No.of Users - Date Wise Chart</h3>
                    </div>
                    <div id="chartdiv">

                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Total Usage Time - Date Wise Chart</h3>
                    </div>
                    <div id="chartdiv2">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
