﻿@{
    ViewBag.Title = "Package Learn | ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@*@section header{
    <i class="menu-icons learn-icon page_header_icon"></i>
    <span class="main-text">Learn</span>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8">
          
            @if (ViewBag.subjects != null)
            {
                if ((ViewBag.subjects).Count > 0)
                {
                    <ul class="tabs">
                        @{ int i = 0;  }

                        @foreach (var item in ViewBag.subjects)
                        {
                            if (i == 0)
                            {
                                <li class="tab"><a href="#@item.Subject_ID" class="active">@item.Subject</a></li>
                            }
                            else
                            {
                                <li class="tab"><a href="#@item.Subject_ID">@item.Subject</a></li>

                            }
                            i++;
                        }
                    </ul>
                }
            }
            else
            {
                // if ((ViewBag.nosubjects).Count > 0)
                //{
                <ul class="tabs">
                    @foreach (var item in ViewBag.notsubjectss)
                    {
                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                        int id1 = Convert.ToInt32(item);
                        var dt = DbContext.tbl_DC_Subject.Where(x => x.Subject_Id == id1).FirstOrDefault();
                        <li class="tab col-md-4">
                            <a href="#@dt.Subject_Id" class="active">@dt.Subject</a>
                        </li>

                    }
                </ul>
               
            }
        </div>
    </div>

}*@
<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>
@section video
{<div class="light_box_container">
        <div class="light_box_inner">
            <div class="light_box_content">
                <div class="light_box_content_inner">
                    <span class="close_btn">X</span>
                    <video class="video-js vjs-default-skin" width="100%" height="90%" autoplay controls>
                        <source id="v2src" src="" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Subject: @ViewBag.subjectName
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.notsubjects != null)
                        {
                            foreach (var item in ViewBag.notsubjects)
                            {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        <a href="/student/chapterdetails/@item.Chapter_Id" class="plain-link">
                                            @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                            <h3 class="panel-title">
                                                @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                <div class="clearfix">@item.Chapter_Name</div>
                                                <span class="chapter-sec">@item.Total_Videos Amazing Videos</span>
                                                <span class="chapter-sec">@item.Total_PDF Study Material</span>
                                                <span class="chapter-sec">@item.Total_Exam_PDF Question Bank</span>
                                                <span class="chapter-sec">@item.Total_NCERT_PDF NCERT Book</span>
                                                <span class="chapter-sec">@item.Total_Class_PPT_PDF Teacher's Note</span>
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Student_assets/assets/js/video.js"></script>
    <script src="~/Student_assets/assets/js/videojs-contrib-hls.min.js"></script>
    <script src="~/jwplayer-7.9.3/jwplayer.js"></script>
    <script>jwplayer.key = "cxb/fhH3Z9Oh3TulqzBk1tMznPqKXQ0fj8cZYfZ5tRA=";</script>
    <script>
        //var player = videojs('example-video');
        //player.play();
    </script>

    @*<script>
        $(document).ready(function () {
            $('a.board').click(function () {
                var bid = $(this).attr("value");
                var board = $(this).html();
                $.ajax({
                    type: "POST",
                    url: "/Student/GetAllClass",
                    data: { brdId: bid },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "";
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<li><a href="/student/packagelearn/' + data[i].Value + '">' + data[i].Text + '</a></li>';
                        }
                        $('#ddlclass').html(sta);
                        $("#drpboard").html(board + '<span class="drop-icon"><i class="ion ion-chevron-down"></i></span>');
                    }
                });
            });
        });

    </script>*@
    }

@section scriptvideo{
    <script>
        $(function () {
            $('.post-thumb .play-now-in-popup').on('click', function () {
                debugger;
                var video_key = $(this).attr('id');
                $.ajax({
                    type: "POST",
                    url: "/Student/Show_video",
                    data: { video_key: video_key },
                    datatype: "json",
                    success: function (data) {
                        //var video_url = $(this).parents(".post-thumb").find('video').find('source.vsrc').attr('src');
                        $('.light_box_content_inner video').find('#v2src').attr('src', data);
                        $('.light_box_content_inner video').load();
                        $(".light_box_container").fadeIn(500);
                    }


                })
                $('.light_box_inner .close_btn').on('click', function () {
                    $('.light_box_container').fadeOut(1000);
                });


            })
        })
        $(document).bind("contextmenu", function (e) {
            // e.preventDefault();

        });
        $(document).keydown(function (e) {
            return false;
        });
        with ((window && window.console && window.console._commandLineAPI) || {}) {
            (function () {

                var _z = console;
                Object.defineProperty(window, "console", {
                    get: function () {
                        if (_z._commandLineAPI) {
                            throw "Sorry, Can't execute scripts!";
                        }
                        return _z;
                    },
                    set: function (val) {
                        _z = val;
                    }
                });

            })();
        }
    </script>
}