﻿@{
    ViewBag.Title = "Chapter Details | ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@section header
{
    <i class="menu-icons learn-icon page_header_icon"></i>
    @if (ViewBag.all_video != null)
    {
        if ((ViewBag.all_video).Count > 0)
        {
            if (ViewBag.chapter_name != null)
            {
                <span class="main-text">@ViewBag.chapter_name<input type="checkbox" id="id" value="1" class="rating_star" /></span>
            }
            else
            {
                <span class="main-text">Chapter Videos</span>
            }
        }
    }
    else
    {
        <span class="main-text">Chapter Details</span>
    }

}
<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>
@section video
{<div class="light_box_container">
        <div class="light_box_inner">
            <div class="light_box_content">
                <div class="light_box_content_inner" style="height: 300px; position: relative;">
                    <span class="close_btn">X</span>

                </div>
            </div>
        </div>
    </div>

    <div class="light_box_container lock1">
        <div class="light_box_inner">
            <div class="light_box_content">
                <div class="light_box_content_inner lock2">
                    <span class="close_btn">X</span>


                    <div class="welcome-container">

                        <div class="clearfix"></div>
                        @*<h3>Welcome Back</h3>*@
                        <p>Please contact DigiChamps team to upgrade your package</p>
                        <a href="@Url.Action("PackagePreview", "student")" class="take-a-tour">
                            <span>BUY NOW</span>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>



}

<div class="row">

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 questions-cont nopad-right">
        <!-- Question Panel Starts -->
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Video Lecture
                </h3>
            </div>
            <div class="panel-body ">
                <div class="row">
                    @if (ViewBag.all_video != null)
                    {
                        int row = 0;
                        foreach (var v in ViewBag.all_video)
                        {
                            row += 1;
                            string nopad = "";
                            if (row % 2 == 0)
                            {

                                nopad = "";
                            }
                            else
                            {
                                nopad = "nopad-right";

                            }

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box-box @nopad">
                                <div class="post thumb-border post-new">
                                    <div class="post-thumb">
                                        @{
                            string url = string.Empty;

                                        }


                                        <video preload="auto" poster="@v.Module_Image" id="example-video" width="100%" height="100%"
                                               preload="auto" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2], "autoplay": false, }'>
                                            <source class="vsrc" src="http://content.jwplatform.com/videos/@v.Module_video-ozl7iD1S.mp4" type='video/mp4' />

                                        </video>
                                        <div class="hover-posts">
                                            <div class="hover-value">
                                                <a href="javascript:void(0)" id="@(v.Module_video+"+"+v.Video_Type)" class="play-now-in-popup">
                                                    <span><i class="fa fa-play"></i>Watch Video</span>
                                                </a>
                                                <a href="@Url.Action("VideoDetail", "student", new { id = @v.Module_video })">
                                                    <span><i class="fa fa-eye"></i>View Details</span>
                                                </a>
                                            </div>
                                        </div>

                                        }

                                    </div>
                                    <div class="post-des">
                                        <h6><a href="javascript:void(0)">@v.Module_Name.</a></h6>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <!-- Question Panel Ends -->


        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Study Material
                </h3>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.all_pdf != null)
                {
                    foreach (var v in ViewBag.all_pdf)
                    {
                        if (v.Module_Content != null)
                        {

                <div class="panel panel-ntspl inner-panel">
                    <div class="panel-heading">
                        <a href="~/Module/PDF/@v.Module_Content" target="_blank" title="free" class="plain-link">
                            <h3 class="panel-title">
                                @if (@v.Module_Content_Name != null)
                                            {
                                            @v.Module_Content_Name
                                            }
                                            else
                                            {
                                            @v.Module_Name
                                            }
                            </h3>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>

                        }
                    }
                }
                else
                {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification ">There is no study material in this chapter.</div>
                </div>
                }
            </div>
        </div>

        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Worksheet
                </h3>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.all_pdf != null)
                {
                    foreach (var v in ViewBag.all_pdf)
                    {
                        if (v.Question_PDF != null)
                        {

                <div class="panel panel-ntspl inner-panel">
                    <div class="panel-heading">
                        <a href="~/Module/Question_PDF/@v.Question_PDF" target="_blank" class="plain-link">
                            <h3 class="panel-title">
                                @if (@v.Question_PDF_Name != null)
                                            {
                                @v.Question_PDF_Name
                                            }
                                            else
                                            {
                                @v.Module_Name
                                            }
                            </h3>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>

                        }
                    }
                }
                else
                {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification ">There is no sample question in this chapter.</div>
                </div>
                }
            </div>
        </div>
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    NCERT Book
                </h3>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.all_pdf != null)
                {
                    foreach (var v in ViewBag.all_pdf)
                    {
                        if (v.NCERT_PDF != null)
                        {

                <div class="panel panel-ntspl inner-panel">
                    <div class="panel-heading">
                        <a href="~/Module/NCERT/@v.NCERT_PDF" target="_blank" class="plain-link">
                            <h3 class="panel-title">
                                @if (v.NCERT_PDF_Name != null)
                                            {
                                            @v.NCERT_PDF_Name
                                            }
                                            else
                                            {
                                            @v.Module_Name
                                            }
                            </h3>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>

                        }
                    }
                }
                else
                {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification ">There is no ncert book in this chapter.</div>
                </div>
                }
            </div>
        </div>
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Teacher's Class Notes
                </h3>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.all_pdf != null)
                {
                    foreach (var v in ViewBag.all_pdf)
                    {
                        if (v.Class_PPT != null)
                        {

                <div class="panel panel-ntspl inner-panel">
                    <div class="panel-heading">
                        <a href="~/Module/PPT/@v.Class_PPT" target="_blank" class="plain-link">
                            <h3 class="panel-title">
                                @if (v.Class_PPT_Name != null)
                                            {
                                            @v.Class_PPT_Name
                                            }
                                            else
                                            {
                                            @v.Module_Name
                                            }
                            </h3>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>

                        }
                    }
                }
                else
                {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification ">There is no teacher's class note in this chapter.</div>
                </div>
                }
            </div>
        </div>
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                   Upload Worksheet
                    
                </h3>
                <a class="text-right text-danger" href="/Student/WorksheetDetails?RegdId=@ViewBag.stu_id&ChapterId=@ViewBag.chapterid"><i class="fa fa-plus"></i> Upload</a>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.worksheetdetails != null)
                {
                    if (ViewBag.worksheetdetails.attachments != null)
                    {
                        foreach (var item in ViewBag.worksheetdetails.attachments)
                        {
                            <div class="panel panel-ntspl inner-panel ">
                                <div class="panel-heading">
                                    <a href="@item.Path" target="_blank" title="free" class="plain-link">
                                        @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                        <h3 class="panel-title">
                                            @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                            <div class="clearfix">@item.File_Name</div>
                                           @* <span class="chapter-sec">@(ViewBag.worksheetdetails.Verified == true ? ("") : ("<span class='text-danger'>Not-Verified</span>"))</span>*@
                                            @if (ViewBag.worksheetdetails.Verified == true)
                                                    {
                                                    <span class="chapter-sec"><span class='text-success'>Verified</span></span>
                                                    <span class="chapter-sec">Score : @ViewBag.worksheetdetails.Total_Mark <b>out of 20</b> </span>
                                                    <span class="chapter-sec">Verified By : @ViewBag.worksheetdetails.Verified_By_Name</span>
                                                    }
                                            else
                                            {
                                                <span class="chapter-sec"><span class='text-danger'>Not Verified</span></span>
                                            }
                                            <span class="chapter-sec">Posted On : @((ViewBag.worksheetdetails.Inserted_Date).ToString("dd MMM yyyy hh:mm tt"))</span>

                                        </h3>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="panel-body mail_widget">
                        <div class="no-content-notification ">There is no worksheet in this chapter.</div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Chapterwise Test
                </h3>
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.all_test != null)
                {
                    if ((ViewBag.all_test).Count > 0)
                    {
                <div class="panel-body mail_widget">
                    <p class="how-much">Test yourself to know how much you learned.</p>
                    @foreach (var v in ViewBag.all_test)
                        {
                            if (@v.Exam_type == 5)
                            {
                                //if (ViewBag.orderid!=null)
                                //{
                            <div class="mail_list">
                                <div class="panel panel-ntspl inner-panel">
                                    <div class="panel-heading">
                                        <a href="@Url.Action("exam","student")" class="plain-link">
                                            <h3 class="panel-title">
                                                @v.Exam_Name
                                                @{
                                int exam_id = Convert.ToInt32(@v.Exam_ID);
                                int student_id = Convert.ToInt32(@ViewBag.stu_id);
                                DigiChamps.Models.DigiChampsEntities ent = new DigiChamps.Models.DigiChampsEntities();
                                var count = ent.tbl_DC_Exam_Result.Where(x => x.Exam_ID == exam_id && x.Regd_ID == student_id).Select(x => x.Result_ID).ToList().Count();
                                var counter = ent.tbl_DC_Exam.Where(x => x.Exam_ID == exam_id).Select(x => x.Attempt_nos).FirstOrDefault();
                                                }
                                                @if (count != 0)
                                                    {
                                            <span class="chapter-sec">Total Attempt: @count/@counter</span>
                                                    }
                                                    else
                                                    {
                                            <span class="chapter-sec">Total Attempt: 0/@counter</span>
                                                    }

                                            </h3>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            }
                            if (@v.Exam_type == 1 || @v.Exam_type == 2 || @v.Exam_type == 3)
                            {
                            <div class="mail_list">
                                <div class="panel panel-ntspl inner-panel">
                                    <div class="panel-heading">
                                        @{
                                int exam_id = Convert.ToInt32(@v.Exam_ID);
                                int student_id = Convert.ToInt32(@ViewBag.stu_id);
                                DigiChamps.Models.DigiChampsEntities ent = new DigiChamps.Models.DigiChampsEntities();
                                var count = ent.tbl_DC_Exam_Result.Where(x => x.Exam_ID == exam_id && x.Regd_ID == student_id).Select(x => x.Result_ID).ToList().Count();
                                var counter = ent.tbl_DC_Exam.Where(x => x.Exam_ID == exam_id).Select(x => x.Attempt_nos).FirstOrDefault();

                                        }
                                        <a href="@Url.Action("offlinetest", "student",  new {id = @v.Exam_type })" class="plain-link">
                                            <h3 class="panel-title">
                                                @v.Exam_Name
                                                @if (count != 0)
                                                    {
                                            <span class="chapter-sec">Total Attempt: @count/@counter</span>
                                                    }
                                                    else
                                                    {
                                            <span class="chapter-sec">Total Attempt: 0/@counter</span>
                                                    }
                                            </h3>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            }
                        }

                </div>
                    }
                    else
                    {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification ">There is no test in this chapter.</div>
                </div>
                    }
                }
                else
                {
                <div class="panel-body mail_widget">
                    <div class="no-content-notification">Free tests are not available.</div>
                </div>
                }
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    What's Inside
                </h3>
            </div>
            <div class="panel-body">
                <div class="inside-box">
                    <span class="video-neww"></span>
                    <div class="right-p">
                        <h3>Lectures Video</h3>
                        <p>Best lectures are guide you to study.</p>
                    </div>
                </div>
                <div class="inside-box inside-box-margin">
                    <span class="study-neww"></span>
                    <div class="right-p">
                        <h3>Study Material</h3>
                        <p>Best study material will be provided by our lectures. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

@section scripts
{
    <script src="~/Student_assets/assets/js/video.js"></script>
    <script src="~/Student_assets/assets/js/videojs-contrib-hls.min.js"></script>
    <script src="~/jwplayer-7.9.3/jwplayer.js"></script>
    <script>jwplayer.key = "cxb/fhH3Z9Oh3TulqzBk1tMznPqKXQ0fj8cZYfZ5tRA=";</script>
}
@section scriptvideo{
    <script>
        $(function () {
            var chapter = '@ViewBag.chapters';
            var limit = '@ViewBag.limit';
            debugger;
            if (chapter == limit) {
                $('input:checkbox').prop('checked', true);
            }
            $('.post-thumb .play-now-in-popup').on('click', function () {
                debugger;
                var videoid = $(this).attr('id');
                var type = videoid.split('+')[1];
                var video_key = videoid.split('+')[0];
                //alert(video_key);
                if (type == 'Y') {
                    var url = 'https://www.youtube.com/embed/' + video_key;
                    $('.light_box_content_inner ').find("iframe").remove();
                    $('.light_box_content_inner ').append('<iframe style="height:300px;width:640px;max-width:100%;" src="' + url + '?controls=0&showinfo=0&rel=0"></iframe>');
                    // $('.light_box_content_inner ').load();

                    $(".light_box_container").fadeIn(500);
                    $(".lock1").css("display", "none");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ciphervideo",
                        data: { video_key: video_key },
                        datatype: "json",
                        success: function (data) {
                            (function (v, i, d, e, o) {
                                v[o] = v[o] || {}; v[o].add = v[o].add || function V(a) { (v[o].d = v[o].d || []).push(a); };
                                if (!v[o].l) {
                                    v[o].l = 1 * new Date(); a = i.createElement(d), m = i.getElementsByTagName(d)[0];
                                    a.async = 1; a.src = e; m.parentNode.insertBefore(a, m);
                                }
                            })(window, document, 'script', '//de122v0opjemw.cloudfront.net/vdo.js', 'vdo');
                            vdo.add({
                                o: data,

                            })
                            // $('.vidoscls').attr('id', "vdo" + data);
                            $('.light_box_content_inner ').attr('id', "vdo" + data);
                            $('.light_box_content_inner ').load();

                            $(".light_box_container").fadeIn(500);
                            $(".lock1").css("display", "none");
                        }


                    })
                    $('.light_box_inner .close_btn').on('click', function () {
                        $('.light_box_container').fadeOut(1000);
                    });
                }

            })

            $('.lock').on('click', function () {
                debugger;

                //var video_url = $(this).parents(".post-thumb").find('video').find('source.vsrc').attr('src');
                //$('.light_box_content_inner video').find('#v2src').attr('src', data);
                //$('.light_box_content_inner video').load();
                $(".lock1").fadeIn(500);
            });
            $('.light_box_inner .close_btn').on('click', function () {
                $('.light_box_container').fadeOut(1000);
            });


        })

        $(document).bind("contextmenu", function (e) {
            e.preventDefault();

        });
        $(document).keydown(function (e) {
            return false;
        });
        with ((window && window.console && window.console._commandLineAPI) || {}) {
            (function () {

                var _z = console;
                Object.defineProperty(window, "console", {
                    get: function () {
                        if (_z._commandLineAPI) {
                            throw "Sorry, Can't execute scripts!";
                        }
                        return _z;
                    },
                    set: function (val) {
                        _z = val;
                    }
                });

            })();
        }


        $('.close_btn').click(function () {


            location.reload();
            $(".light_box_container").fadeOut(1000);

        });


    </script>
}
