﻿@{
    ViewBag.Title = "PackageList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    .btnbuyplannow {
        padding:0px 10px;
        height: 31px;
        color: #fff;
        background: #57a024;
        border-radius: 100px;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .83px;
        outline: 0px;
        border: 0px;
    }

        .btnbuyplannow:hover {
            background-color: #256d1d;
        }
    .planspanel{
        padding:10px;
        border-radius:6px;
        background-color:rgba(217, 226, 214, 0.88);
        font-weight:500;
    }
</style>
<div class="row p-preview">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <!-- Package Panel Starts -->
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Package Details
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="form-group text-center">
                                <h4><strong>Look at these plans</strong></h4>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div id="allrelatedpackages" style="height:505px; overflow:scroll;">

                            </div>
                        </div>
                        <div class="col-md-5  col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <h4>
                                        <b>
                                            Package Details
                                        </b>
                                    </h4>
                                </div>

                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Total Price :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackageprices"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Tax Amount(in %) :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagetaxamounts"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Discount Amount(in %) :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagediscountamounts"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row" style="border-bottom:1px solid; border-top:1px solid; border-color: #cac9c98c; padding: 10px 0px;">
                                    <div class="col-md-6">
                                        Total Payble :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagetotalpayamounts"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">
                                <div class="form-group">
                                    <h4>
                                        <b>
                                            Unlimited access to the learn module
                                        </b>
                                    </h4>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divlearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divtests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divdoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divmentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hdnpakageid" value="@ViewBag.Packageid" />
<input type="hidden" id="hdnboardid" value="@ViewBag.Boardid" />
<input type="hidden" id="hdnclassid" value="@ViewBag.Classid" />






<script>
    $(document).ready(function () {
        GetPackageList();
        function GetPackageList() {
            $.get('../Home/Getpackagedetailslist?id=' + $('#hdnpakageid').val() + '&brd=' + $('#hdnboardid').val() + '&cls=' + $('#hdnclassid').val() + '', function (data) {
                debugger;
                if (data.length > 0) {
                    $('#allrelatedpackages').empty();
                    for (var i = 0; i < data.length; i++) {
                        var tr = '<div class="form-group planspanel">';
                        tr += '<div class="form-group">';
                        tr += '<div>';
                        tr += '<h4><strong>' + data[i].Package_Name + '</strong></h4>';
                        tr += '</div>';
                        tr += '<div>';
                        tr += '<b>Price:</b> ' + data[i].Price + '/-';
                        tr += '</div>';
                        tr += '<div>';
                        tr += '<b>Duration:</b> ' + data[i].Subscripttion_Period + ' days';
                        tr += '</div>';
                        tr += '<div>';
                        tr += data[i].Package_Desc;
                        tr += '</div></div>';
                        tr += '<div class="clearfix"></div>';
                        tr += '<div class="form-group text-right">';
                        tr += '<button class="btnbuyplannow" onclick="BuyPackage(' + data[i].Package_ID + ')">Buy Now</button>';
                        tr += '</div></div>';
                        tr += '<div class="clearfix"></div>';
                        $('#allrelatedpackages').append(tr);
                    }
                    $('#lblpackageprices').html(data[0].Price);
                    $('#lblpackagetaxamounts').html('0 %');
                    $('#lblpackagediscountamounts').html('20 %');
                    var discount = (data[0].Price * 80) / 100;
                    $('#lblpackagetotalpayamounts').html(discount);
                    //var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                    //$('#lblexpertmonth').html(month);
                    if (data[0].Is_Video == true) {
                        $('.divlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                        $('.divtests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                    }
                    else {
                        $('.divlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                        $('.divtests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                    }
                    if (data[0].Is_Doubt == true) {
                        $('.divdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                    }
                    else {
                        $('.divdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                    }
                    if (data[0].Is_Mentor == true) {
                        $('.divmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });

                    }
                    else {
                        $('.divmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });

                    }
                }

            })

        }
    })
    function BuyPackage(id) {
        window.location = '../Student/ViewPackageDetails?id=' + id;
    }
</script>
