﻿@{
    ViewBag.Title = "PackageDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    .pricingouterdiv {
        border-radius: 5px;
        background: linear-gradient(135deg,#e7747d,#e1656a);
        /*border: 1px solid #e7747d;*/
    }

    .pricingbignnerbackcolor {
        background-color: #e05d63;
        border-radius: 5px 5px 0 0;
    }

    .pricingheading {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .pricingheadingprice {
        font-size: 9px;
        font-weight: 600;
        margin-top: 27px;
        margin-bottom: 20px;
        color: white;
    }

    .pricingmainheadingprice {
        font-size: 22px;
        line-height: 25px;
        font-weight: 700;
        margin-left: 2px;
        color: white;
    }

    .pricingfooterdiv {
        padding: 10px 10px 0px 10px;
        background-color: white;
        margin-bottom: 0px !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid;
        border-color: #97959552;
    }

    .pricingfooterlearn {
        border-radius: 50%;
        height: 40px;
        background-color: #de305b;
        float: left;
        padding: 2px;
        margin-top: 9px;
    }

    .pricingfooterlearntext {
        float: left;
        text-align: left;
        color: #4c4c4c;
        font-size: 14px;
        font-weight: 600;
        padding: 6px;
    }

    .pricingfootertest {
        border-radius: 50%;
        height: 40px;
        background-color: #1d9fd2;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .pricingfooterdoubts {
        border-radius: 50%;
        height: 40px;
        background-color: #ff9844;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .pricingfootermentor {
        border-radius: 50%;
        height: 40px;
        background-color: #b3c642;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .modalouterbox {
        padding: 10px 20px 5px;
        border: 1px solid;
        border-radius: 6px;
        border-left: 10px solid #f8ae40;
        color: #4c4c4c;
        cursor: pointer;
    }

    .modalouterboxheading {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.54px;
        font-weight: 700;
        margin-bottom: 0px !important;
    }

    .pricingexpertoutercolor {
        border-radius: 5px;
        background: linear-gradient(135deg,#f8ae40,#f7a54d);
        /*border: 1px solid #f4983a;*/
    }

    .pricingexpertbackcolor {
        background-color: #f4983a;
        border-radius: 5px 5px 0 0;
    }

    .pricingprooutercolor {
        border-radius: 5px;
        background: linear-gradient(135deg,#39b8af,#20aa9a);
        /*border: 1px solid #24a393;*/
    }

    .pricingprobackcolor {
        background-color: #24a393;
        border-radius: 5px 5px 0 0;
    }

    .pricingchampouterline {
        border-radius: 5px;
        background: linear-gradient(135deg,#5aaeef,#4e99e4);
        /*border: 1px solid #4493e6;*/
    }

    .pricingchampouterbackcolor {
        background-color: #4493e6;
        border-radius: 5px 5px 0 0;
    }

    .pricingfooterdiv ul {
        padding-left: 0px;
    }

    .btnbuynow {
        width: 100%;
        height: 31px;
        color: #fff;
        background: #1d9fd2;
        border-radius: 100px;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .83px;
        outline: 0px;
    border: 0px;
    }

        .btnbuynow:hover {
            background-color: #0e6f95;
        }
</style>

@section header{
    <i class="menu-icons package-icon page_header_icon"></i>
    <span class="main-text">Packages</span>
}

<div class="row p-preview">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <!-- Package Panel Starts -->
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Buy Packages
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right" style="margin-top:10px;">
                            Search Class :
                        </div>
                        <div class="col-md-4">
                            <select id="ddlclass" class="form-control"></select>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <input type="hidden" id="hdnboard" value="@ViewBag.boardname" />
                    <input type="hidden" id="hdnclass" value="@ViewBag.classname" />
                    <div class="form-group" id="pricingcategory">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group pricingouterdiv">
                                <div class="form-group pricingbignnerbackcolor">
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Beginner</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                        <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                        <span><label id="lblBeginnerprice"></label></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group text-left" style="padding:0px 10px 0px 10px; ">
                                    <div style="text-decoration: line-through;color:white;">
                                        <img src="~/svg files/price15x15.svg" />
                                        <span><label id="lblBeginnerprice1"></label></span>
                                    </div>

                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                                    <div>
                                        <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                        <span class="pricingmainheadingprice"><label id="lblBeginnerdiscountprice"></label></span>
                                    </div>
                                </div>
                                <div style="padding:0px 10px 0px 15px;font-size: 11px;color:white; ">
                                    <span>For <label id="lblBeginnermonth"></label> months</span>
                                </div>
                                <div class="clearfix" style="margin-bottom:20px;"></div>
                                <div class="form-group pricingfooterdiv">
                                    <div class="form-group" style="margin-bottom:0px !important;">
                                        <div id="divbeginnerlearn">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                                <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divbeginnertests">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootertest" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Tests
                                                    <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divbeginnerdoubts">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterdoubts" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Doubts
                                                    <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divbeginnermentor">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootermentor" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Mentor
                                                    <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                           @* @Html.ActionLink("Buy Now", "PackageList", "Student", new { id = 1 }, new { @class = "btn btn-primary btnbuynow", @title = "Buy Now" })*@
                                            <button class="btnbuynow" id="btnbeginnerbuynow">BUY NOW</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        @* <div class="form-group text-center">
                                            <a class="lnklearn linkbeginner" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                        </div>*@
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group pricingexpertoutercolor">
                                <div class="form-group pricingexpertbackcolor">
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Expert</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                        <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                        <span><label id="lblexpertprice"></label></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group text-left" style="padding:0px 10px 0px 10px; ">

                                    <div style="text-decoration: line-through;color:white;text-align:left;">
                                        <img src="~/svg files/price15x15.svg" />
                                        <span><label id="lblexpertprice1"></label></span>
                                    </div>

                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                                    <div>
                                        <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                        <span class="pricingmainheadingprice"><label id="lblexpertdiscountprice"></label></span>
                                    </div>
                                </div>
                                <div style="padding:0px 10px 0px 15px;font-size: 11px;color:white; ">
                                    <span>For <label id="lblexpertmonth"></label> months</span>
                                </div>
                                <div class="clearfix" style="margin-bottom:20px;"></div>
                                <div class="form-group pricingfooterdiv">
                                    <div class="form-group" style="margin-bottom:0px !important;">
                                        <div id="divexpertlearn">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                                <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divexperttests">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootertest" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Tests
                                                    <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divexpertdoubts">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterdoubts" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Doubts
                                                    <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divexpertmentor">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootermentor" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Mentor
                                                    <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                                </li>
                                            </ul>
                                        </div>


                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                           @* @Html.ActionLink("Buy Now", "PackageList", "Student", new { id = 2 }, new { @class = "btn btn-primary btnbuynow", @title = "Buy Now" })*@
                                            <button class="btnbuynow" id="btnexpertbuynow">BUY NOW</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        @*<div class="form-group text-center">
                                            <a class="lnklearn linkexpert" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                        </div>*@
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group pricingprooutercolor">
                                <div class="form-group pricingprobackcolor">
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Pro</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                        <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                        <span><label id="lblproprice"></label></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px; ">

                                    <div style="text-decoration: line-through;color:white;text-align:left;">
                                        <img src="~/svg files/price15x15.svg" />
                                        <span><label id="lblproprice1"></label></span>
                                    </div>

                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                                    <div>
                                        <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                        <span class="pricingmainheadingprice"><label id="lblprodiscountprice"></label></span>
                                    </div>
                                </div>
                                <div style="padding:0px 10px 0px 15px;font-size: 11px;color:white; ">
                                    <span>For <label id="lblpromonth"></label> months</span>
                                </div>
                                <div class="clearfix" style="margin-bottom:20px;"></div>
                                <div class="form-group pricingfooterdiv">
                                    <div class="form-group" style="margin-bottom:0px !important;">
                                        <div id="divprolearn">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                                <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divprotests">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootertest" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Tests
                                                    <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divprodoubts">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterdoubts" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Doubts
                                                    <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divpromentor">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootermentor" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Mentor
                                                    <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                                </li>
                                            </ul>
                                        </div>






                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                           @* @Html.ActionLink("Buy Now", "PackageList", "Student", new { id = 3 }, new { @class = "btn btn-primary btnbuynow", @title = "Buy Now" })*@
                                            <button class="btnbuynow" id="btnprobuynow">BUY NOW</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        @*<div class="form-group text-center">
                                            <a class="lnklearn linkpro" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                        </div>*@
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group pricingchampouterline">
                                <div class="form-group pricingchampouterbackcolor">
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Champion</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                        <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                        <span><label id="lblchampprice"></label></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px; ">

                                    <div style="text-decoration: line-through;color:white;text-align:left;">
                                        <img src="~/svg files/price15x15.svg" />
                                        <span><label id="lblchampprice1"></label></span>
                                    </div>

                                </div>
                                <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                                    <div>
                                        <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                        <span class="pricingmainheadingprice"><label id="lblchampdiscountprice"></label></span>
                                    </div>
                                </div>
                                <div style="padding:0px 12px 0px 16px;font-size: 11px;color:white; ">
                                    <span>For <label id="lblchampmonth"></label> months</span>
                                </div>
                                <div class="clearfix" style="margin-bottom:20px;"></div>
                                @*<div class="showcontent" style="border-radius:12px;">
                                        <div class=" form-group maincontents">
                                        <div class="clearfix"></div>
                                        <div class="col-md-6">
                                            <div class="contentmainheading">

                                            </div>
                                            <div class="contentsubheading">

                                            </div>
                                        </div>
                                        <div class="col-md-5">

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                        <div class="mainpaneldata" style="padding:10px 2px 10px 2px;border:1px solid #d8d5d5;">

                                        </div>
                                        </div>*@
                                <div class="form-group pricingfooterdiv">
                                    <div class="form-group" style="margin-bottom:0px !important;">
                                        <div id="divchamplearn">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                                <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divchamptests">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootertest" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Tests
                                                    <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divchampdoubts">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfooterdoubts" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Doubts
                                                    <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div id="divchampmentor">
                                            <ul style="display:flex;list-style:none;">
                                                <li class="pricingfootermentor" style="width:36px;">
                                                    <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                                </li>
                                                <li class="pricingfooterlearntext">
                                                    Mentor
                                                    <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                                </li>
                                            </ul>
                                        </div>




                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @*@Html.ActionLink("Buy Now", "PackageList", "Student", new { id = 4 }, new { @class = "btn btn-primary btnbuynow", @title = "Buy Now" })*@
                                            <button class="btnbuynow" id="btnchampionbuynow">BUY NOW</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        @*<div class="form-group text-center">
                                            <a class="lnklearn linkchamp" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                        </div>*@
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row package-info">
                        <div class="col-md-12 text-center">
                            <h3>Have a question? Feel free to contact us.</h3>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-md-push-1">
                            <div class="info-logo-content">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="ion-email primary-info"></i></li>
                                    <li><p>Email</p>info@learn.odmps.org</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-md-push-1">
                            <div class="info-logo-content">
                                <ul class="list-inline list-unstyled">
                                    <li><i class="ion-android-call primary-info"></i></li>
                                    <li><p>Mobile</p>1800 212 4322 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnpakageid" />
<script>
    $(document).ready(function () {

        Getclass();
        function Getclass() {

            if ($('#hdnboard').val() != '0') {
                $.get("../Home/GetClass?id=" + $('#hdnboard').val() + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');
                        }
                        $('#ddlclass').val($('#hdnclass').val());
                        GetPricings();
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#divloader').fadeOut(300);
                    }
                }).fail(function (xhr) {
                    //alert(xhr.responseText); // or whatever
                });
            }
        }
        function GetPricings() {
            debugger;
            $('#divloader').fadeIn(300);
            var bid = $('#hdnboard').val();
            var cid = $('#hdnclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 1) {
                            $('#lblBeginnerprice').html(data[i].Price + ' / year');
                            $('#lblBeginnerprice1').html(data[i].Price + ' / year');
                            $('#lblBeginnerprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblBeginnerdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];

                            $('#lblBeginnermonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divbeginnerlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divbeginnertests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divbeginnerlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divbeginnertests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divbeginnerdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divbeginnerdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divbeginnermentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divbeginnermentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 2) {
                            $('#lblexpertprice').html(data[i].Price + ' / year');
                            $('#lblexpertprice1').html(data[i].Price + ' / year');
                            $('#lblexpertprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblexpertdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblexpertmonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divexpertlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divexperttests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divexpertlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divexperttests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divexpertdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divexpertdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divexpertmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divexpertmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 4) {
                            $('#lblproprice').html(data[i].Price + ' / year');
                            $('#lblproprice1').html(data[i].Price + ' / year');
                            $('#lblproprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblprodiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblpromonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divprolearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divprotests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divprolearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divprotests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divprodoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divprodoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divpromentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divpromentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 6) {
                            $('#lblchampprice').html(data[i].Price + ' / year');
                            $('#lblchampprice1').html(data[i].Price + ' / year');
                            $('#lblchampprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblchampdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblchampmonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divchamplearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divchamptests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divchamplearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divchamptests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divchampdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divchampdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divchampmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divchampmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }

                    }
                    $('#divloader').fadeOut(300);
                }
                else {
                    $('#divloader').fadeOut(300);
                }
            })
        }
        $('#btnbeginnerbuynow').click(function () {          
            window.location = '../Student/PackageList?id=1&bid=' + $('#hdnboard').val() + '&cid=' + $('#ddlclass').val();
        })
        $('#btnexpertbuynow').click(function () {
            window.location = '../Student/PackageList?id=2&bid=' + $('#hdnboard').val() + '&cid=' + $('#ddlclass').val();
        })
        $('#btnprobuynow').click(function () {
            window.location = '../Student/PackageList?id=3&bid=' + $('#hdnboard').val() + '&cid=' + $('#ddlclass').val();
        })
        $('#btnchampionbuynow').click(function () {
            window.location = '../Student/PackageList?id=4&bid=' + $('#hdnboard').val() + '&cid=' + $('#ddlclass').val();
        })
    })
</script>