﻿@{
    ViewBag.Title = "ViewPackageDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section header{
    <i class="menu-icons package-icon page_header_icon"></i>
    <span class="main-text">Package Details</span>
}
<style>
      .Couponapplybtn1{
         padding:0px 19px;
        height: 39px;
        color: #fff;
        background: #4474bf;
        border-radius: 10px;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .83px;
        outline: 0px;
        border: 0px;
    }
       .Couponapplybtn1:hover {
            background-color: #184b9a;
        }
    .Couponapplybtn{
         padding:0px 10px;
        height: 31px;
        color: #fff;
        background: #57a024;
        border-radius: 100px;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .83px;
        outline: 0px;
        border: 0px;
    }
       .Couponapplybtn:hover {
            background-color: #256d1d;
        }
</style>

<div class="row p-preview">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <!-- Package Panel Starts -->
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Package Details
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-7">
                            <div class="form-group">
                                <h4><b><label id="lblpackagedtlname"></label></b></h4>
                            </div>
                            <div class="clearfix"></div>
                            <div style="height:505px; overflow:scroll;">
                                <div>
                                    <b>Price :</b> <label style="font-weight:400 !important;" id="lblpackagedtlprice"></label>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <b>Duration :</b> <label style="font-weight:400 !important;" id="lblpackagedtlduration"></label>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <b>Board :</b> <label style="font-weight:400 !important;" id="lblpackagedtlboard"></label>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <b>Class :</b> <label style="font-weight:400 !important;" id="lblpackagedtlclass"></label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <b>About Package :</b><br /> <label style="font-weight:400 !important;" id="lblpackagedtldesc"></label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <b>Subject &amp; Chapters :</b>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" id="divsubjectsdtl">

                                </div>

                                <div class="clearfix" style="margin-bottom:30px;"></div>
                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <div class="row" style="font-size: 16px;letter-spacing: -1px;color: #3112dd;"><strong>You have any Coupon?</strong></div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" id="txtcoupon" />
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <button id="btnapplycoupon" class="Couponapplybtn1">Apply</button>
                                    </div>
                                    </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <h4>
                                        <b>
                                            Package Details
                                        </b>
                                    </h4>
                                </div>

                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Total Price :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackageprices1"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Tax Amount(in %) :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagetaxamounts1"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Discount Amount(in %) :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagediscountamounts1"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row" style="border-bottom:1px solid; border-top:1px solid; border-color: #cac9c98c; padding: 10px 0px;">
                                    <div class="col-md-6">
                                        Total Payble :
                                    </div>
                                    <div class="col-md-6">
                                        <label id="lblpackagetotalpayamounts1"></label>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="form-group text-right">
                                    <button id="paybtn" class="Couponapplybtn">Place Order</button>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">
                                <div class="form-group">
                                    <h4>
                                        <b>
                                            Unlimited access to the learn module
                                        </b>
                                    </h4>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divlearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divtests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divdoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="divmentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hdnpakageid" value="@ViewBag.Packageid" />
<input type="hidden" id="hdnboardid" value="@ViewBag.Boardid" />
<input type="hidden" id="hdnclassid" value="@ViewBag.Classid" />
<input type="hidden" id="hdnpkgid" value="@Request.QueryString["id"].ToString()" />






<script>
    $(document).ready(function () {
        //if ($('#hdnpkgid').Val() != "" && $('#hdnpkgid').Val() != "0")
        //{

        //}
        //BuyPackage();
        BuyPackage();
        function BuyPackage() {
            debugger;
            $.get('/Home/Getpackagesdtl?id=' + $('#hdnpkgid').val() + '', function (data) {
                if (data != null) {
                    debugger;
                    $('#lblpackagedtlname').html(data.Package_Name);
                    $('#lblpackagedtlprice').html(data.Price);
                    $('#lblpackagedtlduration').html(data.Subscripttion_Period);
                    $('#lblpackagedtlclass').html(data.Classes);
                    $('#lblpackagedtldesc').html(data.Package_Desc);
                    $('#lblpackagedtlboard').html(data.Board);

                    $('#lblpackageprices1').html(data.Price);
                    $('#lblpackagetaxamounts1').html('0 %');
                    $('#lblpackagediscountamounts1').html('20 %');
                    var discount = (data.Price * 80) / 100;
                    $('#lblpackagetotalpayamounts1').html(discount);

                    for (var i = 0; i < data.subjects.length; i++) {
                        var tr = '<div><h5><b>' + data.subjects[i].Subject + '</b></h5></div><div>';
                        for (var k = 0; k < data.subjects[i].chapters.length; k++) {
                            if (k == data.subjects[i].chapters.length - 1) {
                                tr += data.subjects[i].chapters[k].Chapter;
                            }
                            else {
                                tr += data.subjects[i].chapters[k].Chapter + ', ';
                            }
                        }
                        tr += '</div>';
                        $('#divsubjectsdtl').append(tr);
                    }
                 
                }
                else {
                    
                }
            })

        }
        $("#btnapplycoupon").click(function () {
            var txt = $("#txtcoupon").val();
            $('#divloader').fadeIn(300);
            //alert("Handler for .change() called.");
            $.ajax({
                type: "POST",
                url: "/Home/checkcoupon?id=" + txt + "",
                data: {},
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger
                    if (data != null && data != "") {
                        $("#btnapplycoupon").attr("disabled", false);
                        $('#lblpackagediscountamounts1').html(data.Discount_Percent);
                        var discount = (parseFloat($('#lblpackageprices1').html()) * (100 - data.Discount_Percent)) / 100;
                        $('#lblpackagetotalpayamounts1').html(discount);
                        $('#divloader').fadeOut(300);
                        // data.Discount_Percent
                    }
                    else {
                        alert("Invalid Coupon");
                        $("#btnapplycoupon").attr("disabled", true);
                        $('#divloader').fadeOut(300);
                    }

                }
            });
        });
        $("#paybtn").click(function () {
            debugger;
           
            $.get('/Home/getcustomersdetails', function (data) {
                $("#cname").val(data.Customer_Name);
                $("#cmobile").val(data.Mobile);
                $("#cemail").val(data.Email);
                
                var options = {
                    "key": "rzp_live_adm38aA4s6LmaM",
                    //"amount":100,
                    "amount": parseFloat($('#lblpackagetotalpayamounts1').html()) * 100, // 2000 paise = INR 20
                    "name": "Digichamps",
                    "description": "Pacakge Charges",
                    "image": "https://i.imgur.com/n5tjHFD.png",
                    "handler": function (transaction) {
                        debugger;
                        //  if (response.success) {
                        alert(transaction.razorpay_payment_id);
                        $.get('/Home/OrderConfirm', { pkgid: $('#hdnpackageidd').val(), paymentid: transaction.razorpay_payment_id }, function (data) {
                            if (data == 1) {
                                window.location = "../Home/OrderConfirmation";
                            }
                        })
                        // }
                    },
                    "modal": {
                        "ondismiss": function () {
                            debugger;
                            alert('Transaction Cancelled...Try again...')
                        }
                    },
                    "prefill": {
                        "name": data.Customer_Name,
                        "email": data.Email,
                        "contact": data.Mobile
                    }

                };


                //options.amount = parseFloat($('#lblpackagetotalpayamounts1').val()) * 100;
                //options.name = data.Customer_Name;
                //options.prefill.contact = data.Mobile;
                //options.prefill.email = data.Email;
                //options.prefill.name = data.Customer_Name;
                window.r = new Razorpay(options);
                r.open()
            })
        });
    })
</script>

