﻿@{
    ViewBag.Title = "WorksheetDetails | ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Worksheet
                        </h3>
                        @if(ViewBag.worksheetdetails!=null)
                        { 
                            if (ViewBag.worksheetdetails.Verified == false && ViewBag.worksheetdetails.attachments.Count > 0)
                        {
                            <a class="text-right" href="/Student/Deleteworksheet/@ViewBag.worksheetdetails.Worksheet_Id">Remove Worksheet</a>
                        }
                        }
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.worksheetdetails != null && ViewBag.worksheetdetails.attachments.Count>0)
                        {
                            foreach (var item in ViewBag.worksheetdetails.attachments)
                            {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        <a href="@item.Path" target="_blank" title="free" class="plain-link">
                                            @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                            <h3 class="panel-title">
                                                @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                <div class="clearfix">@item.File_Name</div>
                                                @* <span class="chapter-sec">@(ViewBag.worksheetdetails.Verified == true ? ("") : ("<span class='text-danger'>Not-Verified</span>"))</span>*@
                                                @if (ViewBag.worksheetdetails.Verified == true)
                                                {
                                                    <span class="chapter-sec"><span class='text-success'>Verified</span></span>
                                                    <span class="chapter-sec">Score : @ViewBag.worksheetdetails.Total_Mark </span>
                                                    <span class="chapter-sec">Verified By : @ViewBag.worksheetdetails.Verified_By_Name</span>
                                                }
                                                else
                                                {
                                                    <span class="chapter-sec"><span class='text-danger'>Not Verified</span></span>
                                                }
                                                <span class="chapter-sec">Posted On : @((ViewBag.worksheetdetails.Inserted_Date).ToString("dd MMM yyyy hh:mm tt"))</span>

                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="panel panel-ntspl inner-panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Upload Worksheet
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("uploadworksheet", "student", FormMethod.Post, new { data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                                    {
                                        <div class="row">
                                            <input type="hidden" value="@ViewBag.RegdId" name="Regdid" />
                                            <input type="hidden" value="@ViewBag.ChapterId" name="ChapterId" />
                                            <div class="form-group">
                                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload File<span class="asterisk">*</span></label>
                                                <div class="col-sm-9 col-lg-7 controls">
                                                    <input type="file" name="worksheetfile" accept="application/pdf" />
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <input type="submit" value="Upload File" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$("input[name='filetype']").change(function () {
        //    var type = $("input[name='filetype']").val();
        //    if (type == 'pdf') {
        //        $("input[name='worksheetfile']").attr("accept", "application/pdf");
        //        $("input[name='worksheetfile']").attr('multiple', false);
        //    } else {
        //        $("input[name='worksheetfile']").attr("accept", "image/*");
        //        $("input[name='worksheetfile']").attr('multiple', true);
        //    }
        //})
        //$('input[name=worksheetfile]').change(function () {
        //    var fileCount = this.files.length;
        //    var type = $("input[name='filetype']").val();
        //    if (type == 'pdf') {
        //        if (fileCount > 1) {
        //            alert('Select only one pdf file');
        //        }
        //    } else {
        //        if (fileCount > 1) {
        //            alert('Select only one pdf file');
        //        }
        //    }
        //})
    })
</script>