﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> @ViewBag.Title | DIGICHAMPS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Student_assets/images/fav-icon.jpg" rel="shortcut icon" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/chosen-bootstrap/chosen.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/Education_freebie/stylesheet.css">
    <link href="~/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/flaty-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
    <link href="~/assets/data-tables/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link href="~/css/croppie.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/manual.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-93241591-1', 'auto');
            ga('send', 'pageview');
        </script>*@
</head>
<body class="skin-blue">
    <div class="loader-ajax-container">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

    <!-- BEGIN Theme Setting -->
    <!-- END Theme Setting -->
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="~/Images/Digichamps_logo.png" />
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">

            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle noti" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-important count"></span>
                </a>
                <!-- BEGIN Notifications Dropdown -->
                <ul class="dropdown-navbar dropdown-menu" id="notiContent">
                    @*
                        <li class="nav-header">
                            <i class="fa fa-warning"></i>
                            5 Notifications
                        </li>*@
                    @*
                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-comment orange"></i>
                                <p>New Tickets</p>
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>*@
                </ul>
                <!-- END Notifications Dropdown -->
            </li>
            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/Images/images.png" alt="Penny's Photo" />
                    <span class="hhh" id="user_info">
                        @Html.Raw(Convert.ToString(Session["username"]).Trim().ToUpper())
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">

                        Logined From @Session["Time"]
                    </li>
                    @*<li>
                            <a href="/Admin/ChangePassword">
                                <i class="fa fa-cog"></i>
                                Change Password
                            </a>
                        </li>*@
                    @*
                        <li>
                            <a href="/Admin/EditProfile">
                                <i class="fa fa-user"></i>
                                Edit Profile
                            </a>
                        </li>*@
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i>
                            Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("logout", "Admin" )"><i class="fa fa-off"></i>Logout</a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            @*@*<li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <img class="nav-user-photo" src="~/Images/images.png" alt="Penny's Photo" />
                        <span class="hhh" id="user_info">

                        </span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- BEGIN User Dropdown -->
                    <ul class="dropdown-menu dropdown-navbar" id="user_menu">

                        <li class="divider"></li>
                        @*<li>
                            <a href="@Url.Action("AddSchoolAdmin", "Admin" )"><i class="fa fa-off"></i>Admin Profile</a>
                        </li>
                    </ul>
                    <!-- BEGIN User Dropdown -->
                </li>*@
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
        @*@RenderBody()*@


    </div>
    <div>
        <!-- BEGIN Sidebar -->

        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul id=bs-navbar class="nav nav-list">

                <li>
                    <a href="@Url.Action("SchoolDashBoard", "School")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                @if (@ViewBag.Message != "SA")
                {
                    <li>
                        <a href="/School/GetSchoolAdminList">
                            <i class="fa fa-dashboard"></i>
                            <span>Admin Profile</span>
                        </a>
                        <!-- BEGIN Submenu -->
                        <!-- END Submenu -->
                    </li>
                }

                <li>
                    <a href="/School/GetSchoolTeacherList">
                        <i class="fa fa-dashboard"></i>
                        <span>Teacher Profile</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="/School/GetSchoolPrincipleList">
                        <i class="fa fa-dashboard"></i>
                        <span>Principal profile</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                @*<li>
                        <a href="/School/GetClassList">
                            <i class="fa fa-dashboard"></i>
                            <span>Create Class</span>
                        </a>

                    </li>*@


                <li>
                    <a href="/School/GetSubjectList">
                        <i class="fa fa-dashboard"></i>
                        <span>Create Subject</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetExamType">
                        <i class="fa fa-dashboard"></i>
                        <span> Exam Type </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetExam">
                        <i class="fa fa-dashboard"></i>
                        <span> Exam </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="/School/GetTimeTableList">
                        <i class="fa fa-dashboard"></i>
                        <span> Time Table</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetPeriodList">
                        <i class="fa fa-dashboard"></i>
                        <span>Create Period </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetAllAssignedTeacherList">
                        <i class="fa fa-dashboard"></i>
                        <span> Assign Teacher </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetHomeWorkList">
                        <i class="fa fa-dashboard"></i>
                        <span>HomeWork</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/OnlineExam/GetAllExams">
                        <i class="fa fa-dashboard"></i>
                        <span>Online Exam</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="/School/GetStudyMaterialList">
                        <i class="fa fa-dashboard"></i>
                        <span>Study Material</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="/School/GetToppersWay">
                        <i class="fa fa-dashboard"></i>
                        <span> Toppers Way</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetMessageList">
                        <i class="fa fa-dashboard"></i>
                        <span> Notice </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/ViewSendSMS">
                        <i class="fa fa-dashboard"></i>
                        <span> Send SMS </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/ViewReport">
                        <i class="fa fa-dashboard"></i>
                        <span> Report List</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <!--   <li>
                     <a href="/School/ViewTestReport">
                         <i class="fa fa-dashboard"></i>
                         <span> Test Report List</span>
                     </a>

                 </li> -->
                <!--   <li>
                                    <a href="/School/ViewActivityTime">
                                        <i class="fa fa-dashboard"></i>
                                        <span> Activity Time </span>
                                    </a>

                                </li>-->
                <li>
                    <a href="/School/ViewTestData">
                        <i class="fa fa-dashboard"></i>
                        <span> Test Details </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetallTeachers">
                        <i class="fa fa-dashboard"></i>
                        <span> Teacher List </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/GetAssignSubjectToTeacher">
                        <i class="fa fa-dashboard"></i>
                        <span> Assign Subjects </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/Get_Doubt_Tracker">
                        <i class="fa fa-dashboard"></i>
                        <span> Doubt Tracker </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/Get_Worksheet_Tracker">
                        <i class="fa fa-dashboard"></i>
                        <span> Worksheet Tracker </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/Exam_PDF_List">
                        <i class="fa fa-dashboard"></i>
                        <span> Exam PDF </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/School/Uploadstudent">
                        <i class="fa fa-dashboard"></i>
                        <span> Upload Student </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="/School/GetRegisteredUserReport">
                        <i class="fa fa-dashboard"></i>
                        <span> Student List </span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>

                @if (@ViewBag.Message != "SA")
                {
                    <!-- <li>
                        <a href="/School/GetSchoolList">
                            <i class="fa fa-dashboard"></i>
                            <span> School List</span>
                        </a>

                    </li>-->
                    <li>
                        <a href="/Admin/AdminDashBoard">
                            <i class="fa fa-dashboard"></i>
                            <span> Master Dashboard</span>
                        </a>
                        <!-- BEGIN Submenu -->
                        <!-- END Submenu -->
                    </li>

                }
            </ul>

            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        }
        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div id="main-content">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px; color:#5ead34;"><i class="fa fa-check-circle"></i> @TempData["SuccessMessage"]</div>
                </div>
            }
            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert" id="errormsg">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px;"><i class="fa fa-times-circle"></i> @TempData["ErrorMessage"]</div>
                </div>
            }
            @if (@TempData["WarningMessage"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px; color:#ffaf36;"><i class="fa fa-exclamation-circle"></i> @TempData["WarningMessage"]</div>
                </div>
            }



            @RenderBody()
            <!-- BEGIN Session check -->
            <!-- END Session check -->
            @*<footer>
                    <p>2016 © Designed by NTSPL.</p>
                </footer>*@
            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

    </div>
    @* <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>*@
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/jquery-cookie/jquery.cookie.js"></script>

    <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/assets/chosen-bootstrap/chosen.jquery.min.js"></script>
    <!--flaty scripts-->
    <script src="~/js/flaty.js"></script>
    <script src="~/js/flaty-demo-codes.js"></script>

    @*<script src="~/Student_assets/assets/js/jquery.signalR-2.2.0.min.js"></script>*@
    @*<script type="text/javascript" src="~/signalr/hubs"></script>*@
    <script>
        $('.datepicker').datepicker().on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $(document).ready(function () {
            //$('#table1').dataTable();
            setTimeout(function () {
                setActive();
            }, 350);
        });
        function setActive() {

            aObj = document.getElementById('bs-navbar').getElementsByTagName('a');

            for (i = 0; i < aObj.length; i++) {
                // if (document.location.href.indexOf(aObj[i].href) >= 0) {
                if (document.location.href === aObj[i].href) {
                    if ($(aObj[i]).parent().parent().hasClass('nav')) {
                        $(aObj[i]).parent('ul li').addClass('active');

                    }
                    else {
                        $(aObj[i]).parent().parent().parent('li').addClass('active');
                        $(aObj[i]).addClass('active');
                    }
                }
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>