﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> School Report | DIGICHAMPS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Student_assets/images/fav-icon.jpg" rel="shortcut icon" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/chosen-bootstrap/chosen.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/Education_freebie/stylesheet.css">
    <link href="~/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/flaty-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
    <link href="~/assets/data-tables/bootstrap3/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link href="~/css/croppie.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/manual.css">
    <link href="~/Student_assets/assets/css/select2.css" rel="stylesheet" />
    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-93241591-1', 'auto');
            ga('send', 'pageview');
        </script>*@
</head>
<body class="skin-blue">
    <div class="loader-ajax-container">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

    <!-- BEGIN Theme Setting -->
    <!-- END Theme Setting -->
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="~/Images/Digichamps_logo.png" />
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">

            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle noti" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-important count"></span>
                </a>
                <!-- BEGIN Notifications Dropdown -->
                <ul class="dropdown-navbar dropdown-menu" id="notiContent">
                    @*
                        <li class="nav-header">
                            <i class="fa fa-warning"></i>
                            5 Notifications
                        </li>*@
                    @*
                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-comment orange"></i>
                                <p>New Tickets</p>
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>*@
                </ul>
                <!-- END Notifications Dropdown -->
            </li>

            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/Images/images.png" alt="Penny's Photo" />
                    <span class="hhh" id="user_info">
                        @Html.Raw(Convert.ToString(Session["name"]).Trim().ToUpper())
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">

                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Logout", "SchoolReport")"><i class="fa fa-off"></i>Logout</a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
    </div>

    <div>
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul id=bs-navbar class="nav nav-list">
                <li>
                    <a href="/SchoolReport/Dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/SchoolReport/Doubt">
                        <i class="fa fa-dashboard"></i>
                        <span>Doubt Report</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
                <li>
                    <a href="/SchoolReport/Worksheet">
                        <i class="fa fa-dashboard"></i>
                        <span>Worksheet Report</span>
                    </a>
                    <!-- BEGIN Submenu -->
                    <!-- END Submenu -->
                </li>
            </ul>
        </div>

        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div id="main-content">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px; color:#5ead34;"><i class="fa fa-check-circle"></i> @TempData["SuccessMessage"]</div>
                </div>
            }
            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert" id="errormsg">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px;"><i class="fa fa-times-circle"></i> @TempData["ErrorMessage"]</div>
                </div>
            }
            @if (@TempData["WarningMessage"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <div style="font-size: 13px; color:#ffaf36;"><i class="fa fa-exclamation-circle"></i> @TempData["WarningMessage"]</div>
                </div>
            }

            <!-- BEGIN Session check -->
            @if (Session["id"] != null)
            {
                @RenderBody()

            }
            else
            {
                Response.Redirect("~/SchoolReport/Logout");
            }
            <!-- END Session check -->
            <footer>
                <p>2016 © Designed by Digichamps.</p>
            </footer>
            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

    </div>
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/jquery-cookie/jquery.cookie.js"></script>

    <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/assets/chosen-bootstrap/chosen.jquery.min.js"></script>
    <!--flaty scripts-->
    <script src="~/js/flaty.js"></script>
    <script src="~/js/flaty-demo-codes.js"></script>
    <script src="~/Student_assets/assets/js/select2.js"></script>
    @*<script src="~/Student_assets/assets/js/jquery.signalR-2.2.0.min.js"></script>*@
    @*<script type="text/javascript" src="~/signalr/hubs"></script>*@
    <script>
        $('.datepicker').datepicker().on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $(function () {
            $('#table1').dataTable();
             $('.select2').select2();
            // Click on notification icon for show notification
            $('.noti').click(function (e) {
                e.stopPropagation();
                x = 3;
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count >= 0) {
                    updateNotification();
                }
                else {
                    $('#notiContent').empty();
                    $('#notiContent').append($('<li class="notify"><a href="#"><i class="fa fa-comment orange"></i>' +
                                                '<p>No Tickets Available</p>' +
                                                '<span class="badge badge-warning">0</span></a></li>'));
                    $('span.count').html(0);

                }
                $('#notiContent').show();
            })

            // hide notifications
            $('html').click(function () {
                $('#notiContent').hide();
            })

            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));

                $.ajax({
                    type: 'GET',
                    url: '/Admin/GetNotification',
                    datatype: "json",
                    traditional: true,
                    success: function (response) {
                        $('#notiContent').empty();

                        if (response.length == 0) {

                            $('#notiContent').append($('<li class="notify"><a href="#"><i class="fa fa-comment orange"></i>' +
                                                        '<p>No Tickets Available</p>' +
                                                        '</a></li>'));
                        }
                            //for (var i = 0; i < data.length; i++) {

                            //    $("#notiContent").append($('<li>New package : ' + data[i].Package_Name + ' (' + data[i].Package_Name + ') added</li>'));
                            //}
                        else {
                            $.each(response, function (index, value) {
                                var date = ToJavaScriptDate(value.Inserted_Date);

                                $('#notiContent').append($('<li class="notify"><a href="/Admin/Ticket"><i class="fa fa-comment orange"></i>' +
                                                            '<p>' + value.Ticket_No + ' raised by Student</p>' +
                                                            '<span class="badge badge-warning">' + date + '</span></a></li>'));

                            });
                        }
                        $('span.count').html(response.length);
                        //$('#notiContent li:lt('+x+')').show();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
            }

            // update notification count
            function updateNotificationCount() {
                debugger;
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.count').html(count);
            }

            // signalr js code for start hub and send receive notification
            //var notificationHub = $.connection.notificationHub;
            //$.connection.hub.start().done(function () {
            //    //console.log('Notification hub started');
            //});

            ////signalr method for push server message to client
            //notificationHub.client.notify = function (message) {
            //    if (message && message.toLowerCase() == "added") {
            //        updateNotificationCount();
            //    }
            //}

        })
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>