﻿@{
    ViewBag.Title = "AddSubjectCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="page-content-wrap">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-file-text"></i>Add Subject Category</h3>
                    <div class="box-tool box-tooll">

                    </div>
                </div>
                <div class="box-content">
                   
                    <div class="row">

                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            Subject Category
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtsubject" name="subjectcategory" class="form-control" />
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row text-center">
                        <button id="btnsubmit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
      
        $('#btnsubmit').click(function () {
            $.post('/Admin/AddSubjectCategoryDet', { category: $('#txtsubject').val() }, function (data) {
                if (data == "1") {
                    window.location = "SubjectCategory";
                }
                else {

                }
            })
        })
    })
</script>