﻿@{
    ViewBag.Title = "Assign_Mentor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrap">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-file-text"></i>Assign Mentor Details</h3>
                    <div class="box-tool box-tooll">
                      
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">

                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            Subject Category<span class="asterisk">*</span>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlsubjectcatg" name="ddlsubjectcatg" class="form-control"></select>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">

                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            Mentor<span class="asterisk">*</span>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlmentor" name="ddlmentor" class="form-control">
                                <option value="0">Select Mentor</option>
                                @if (ViewBag.Mentors != null)
                                {
                                    foreach (var s in ViewBag.Mentors)
                                    {
                                        <option value="@s.Teach_ID">@s.Teacher_Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">

                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                             Phone Number<span class="asterisk">*</span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="Enter Phone Number" class="form-control" id="ddlphone" />
                           
                        </div>
                        
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="form-group text-center">
                        <button id="btnsearch" class="btn btn-primary">Search</button>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Mobile</th>
                                    <th>Assign</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>


                        </table>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                   
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

        Getcatg();
        function Getcatg() {
            $('#ddlsubjectcatg').empty();
            $.get('/Admin/GetSubjectCatgList', function (data) {
                $('#ddlsubjectcatg').append('<option value="0">Select Subject Category</option>');
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubjectcatg').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                    }

                }

            })
        }
      
        $('#btnsearch').click(function () {
            debugger;
            GetStudentList();
        })

    })
    function GetStudentList() {
        debugger;
        $('.loader-ajax-container').fadeIn(200);
        if ($('#ddlsubjectcatg').val() == '0') {
            alert("Select Subject Category");
            return false;
        }
        if ($('#ddlmentor').val() == '0') {
            alert("Select Mentor");
            return false;
        }
        if ($('#ddlphone').val() == '0') {
            alert("Enter Phone Number");
            return false;
        }
        $.get('/Admin/GetStudentLists', { id: $('#ddlphone').val(), catgid: $('#ddlsubjectcatg').val() }, function (data) {
            debugger;
            if (data.length > 0) {
                $('#table1 tbody').empty();
                tr = '';
                for (var i = 0; i < data.length; i++) {
                    tr += '<tr><td>' + (i + 1) + '</td>';
                    tr += '<td>' + data[i].Customer_Name + '</td>';
                    tr += '<td>' + data[i].Board_Name + '</td>';
                    tr += '<td>' + data[i].Class_Name + '</td>';
                    tr += '<td>' + data[i].Mobile + '</td>';
                    if (data[i].Is_Assign == "1") {
                        tr += '<td><button class="btn btn-primary" onclick="UnAssignMentor(' + data[i].Regd_Id + ')">UnAssigned</button></td>';
                    }
                    else {
                        tr += '<td><button class="btn btn-primary" onclick="AssignMentor(' + data[i].Regd_Id + ')">Assigned</button></td>';
                    }
                    tr += '</tr>';
                }
                //var oTable = $('#table1').dataTable();
                //oTable.fnDestroy();
                $('#table1 tbody').html(tr);
                //$('#table1').dataTable();
                $('.loader-ajax-container').fadeOut(200);
            }
            else
            {
                $('#table1 tbody').empty();
                alert('Invalid Phone Number');
                $('.loader-ajax-container').fadeOut(200);
            }
        })
    }
    function AssignMentor(id)
    {
        $('.loader-ajax-container').fadeIn(200);
        if ($('#ddlsubjectcatg').val() == '0') {
            alert("Select Subject Category");
            return false;
        }
        if ($('#ddlmentor').val() == '0') {
            alert("Select Mentor");
            return false;
        }
        debugger;
        $.get('/Admin/AssignMentor', { Teacher: $('#ddlmentor').val(),Teacher_Name:$('#ddlmentor option:selected').text(),Student:id,subjectcatg:$('#ddlsubjectcatg').val() }, function (data) {
            debugger;
            if (data == "1")
            {
                alert("Assigned Successfully");
                GetStudentList();
            }
            else {
                alert("Not Assigned");
            }
        })
        $('.loader-ajax-container').fadeOut(200);
    }
    function UnAssignMentor(id) {
        $('.loader-ajax-container').fadeIn(200);
        if ($('#ddlsubjectcatg').val() == '0') {
            alert("Select Subject Category");
            return false;
        }
        if ($('#ddlmentor').val() == '0')
        {
            alert("Select Mentor");
            return false;
        }
       
        $.get('/Admin/UnAssignMentor', { Teacher: $('#ddlmentor').val(), Teacher_Name: $('#ddlmentor option:selected').text(), Student: id, subjectcatg: $('#ddlsubjectcatg').val() }, function (data) {
            debugger;
            if (data == "1") {
                alert("UnAssigned Successfully");
                GetStudentList();
            }
            else {
                alert("Not Assigned");
            }
        })
        $('.loader-ajax-container').fadeOut(200);
    }
</script>