﻿@{
    ViewBag.Title = "CreateOrEditNCERTpdf";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model DigiChamps.Models.DigiChampsModel.DigiChampsModuleModel
<link href="~/css/manual.css" rel="stylesheet" />
@*<form class="form-horizontal" enctype="multipart/form-data" id="validation-form">*@

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

@using (Html.BeginForm("SaveOrUpdateNCERTpdf", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.returnurl" name="returnurl" />
    <div class="page-content-wrap">

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Create Study Notes</h3>
                        @Html.HiddenFor(b => b.Module_ID)
                    </div>
                    <div class="box-content">
                        <div class="form-group voffset4 ">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Board_Id, ViewBag.board as SelectList, "Please Select Board", new { @class = "form-control chosen", @id = "ddlboard", data_rule_required = "true", data_msg_required = "Please select board" }))
                                @Html.ValidationMessageFor(x => x.Board_Id)
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Class_Id, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control ", @id = "ddlclass", data_rule_required = "true", data_msg_required = "Please select class" }))
                                @Html.ValidationMessageFor(x => x.Class_Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Subject_Id, new List<SelectListItem>(), "Please Select Subject", new { @class = "form-control ", @id = "ddlsubject", data_rule_required = "true", data_msg_required = "Please select subject" }))
                                @Html.ValidationMessageFor(x => x.Subject_Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Chapter_Id, new List<SelectListItem>(), "Please Select Chapter", new { @class = "form-control ", @id = "ddlchap", data_rule_required = "true", data_msg_required = "Please select chapter" }))
                                @Html.ValidationMessageFor(x => x.Chapter_Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @Html.TextBoxFor(m => m.Module_Name, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter module title", data_rule_minlength = "3", placeholder = "Please Enter Module Title" })
                                @Html.ValidationMessageFor(x => x.Module_Name)
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Free of Cost</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <label class="checkbox">
                                        @Html.CheckBox("is_free", new { })
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" hidden id="valid_div">
                                <label class="col-sm-3 col-lg-2 control-label">Validity Period</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @Html.TextBoxFor(m => m.Validity, new { @class = "form-control", @type = "number" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Description<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @Html.TextAreaFor(m => m.Module_Desc, new { @class = "form-control", @id = "Desc", data_rule_required = "true", data_msg_required = "Please enter module description", data_rule_minlength = "6", rows = "5" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Video Type<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Video_Type, "Y") Youtube Link
                                    </label>       &nbsp;&nbsp; <label>
                                        @Html.RadioButtonFor(m => m.Video_Type, "V")Video Ciper
                                    </label>



                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Video Id / Youtube Link<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @Html.TextAreaFor(m => m.videoid, new
                               {
                                   @class = "form-control",
                                   @id = "videoid",
                                   data_rule_required = "true",
                                   data_msg_required = "Please enter module description"
                               })
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload Video<span class="asterisk">*</span></label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <div class="file-cont1">
                                        @if (ViewBag.Modelvideo != null)
                                        {
                                            <input type="file" id="RegImage3" name="RegImage3" accept=".mp4,.flv,.3gp" />
                                        }
                                        else
                                        {
                                            <input type="file" id="RegImage3" name="RegImage3" accept=".mp4,.flv,.3gp" data-rule-required="true" data-msg-required="Please select Video" />
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-3 controls">
                                    <div id="mdvideo">
                                        @if (ViewBag.Modelvideo != null)
                                        {
                                            <a id="@ViewBag.Modelvideo" class="videoid" href="#"><img border="0" alt="Module Video" src="~/Images/video.png" width="30" height="30"></a>
                                        }
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Video Preview</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <div id="mdvideo">
                                        @if (ViewBag.Modelvideo != null)
                                        {
                                            <video id="PreviewVideo1" height="250" width="400" controls>
                                                <source src="@ViewBag.Modelvideo" type="video/mp4">
                                            </video>
                                        }
                                    </div>
                                    <div id="mdvideo1" style="display:none;">
                                        <video id="PreviewVideo" height="250" width="400" controls>
                                            <source src="#" type="video/mp4">
                                        </video>

                                    </div>
                                </div>

                            </div> 213 x 120 *@
                        @*<div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload IMAGE</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    @Html.TextBoxFor(m => m.Module_Image, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter upload Image" })
                                    <input name="module_image" type="file" accept=".png,.jpeg,.jpg" />
                                </div>
                                <div class="col-sm-3 col-lg-3 controls">
                                    @if (ViewBag.modelcontent != null)
                                    {
                                        <a id="~/Module/PDF/@ViewBag.modelcontent" class="pdfid" href="#"><img border="0" alt="Module PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                    }
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload PDF</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    @Html.TextBoxFor(m => m.Upload_PDF, new { @class = "form-control" })
                                    <input name="module_pdf" type="file" accept=".pdf" />
                                </div>
                                <div class="col-sm-3 col-lg-3 controls">
                                    @if (ViewBag.modelcontent != null)
                                    {
                                        <a id="~/Module/PDF/@ViewBag.modelcontent" class="pdfid" href="#"><img border="0" alt="Module PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                    }
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">NCERT PDF (If Any)</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                @Html.TextBoxFor(m => m.NCERT_PDF_Name, new { @class = "form-control" })
                                @Html.TextBoxFor(m => m.NCERT_PDF, new { @type = "file", @accept = ".pdf" })
                            </div>
                            <div class="col-sm-3 col-lg-3 controls">
                                @if (ViewBag.qstnpdf != null)
                                {
                                    <a id="~/Module/NCERT/@ViewBag.ncertpdf" class="qstnpdf" href="#"><img border="0" alt="Sample PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                }
                            </div>
                        </div>
                        @* <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Teacher's Class PPT (If Any)</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    @Html.TextBoxFor(m => m.Class_PPT_Name, new { @class = "form-control" })
                                    @Html.TextBoxFor(m => m.Class_PPT, new { @type = "file", @accept = ".pdf" })
                                </div>
                                <div class="col-sm-3 col-lg-3 controls">
                                    @if (ViewBag.classppt != null)
                                    {
                                        <a id="~/Module/PPT/@ViewBag.classppt" class="qstnpdf" href="#"><img border="0" alt="Teacher's Class PPT" src="~/Images/pdf5.png" width="30" height="30"></a>
                                    }
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Question PDF (If Any)</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    @Html.TextBoxFor(m => m.Question_PDF_Name, new { @class = "form-control" })
                                    @Html.TextBoxFor(m => m.Question_PDF, new { @type = "file", @accept = ".pdf" })
                                </div>
                                <div class="col-sm-3 col-lg-3 controls">
                                    @if (ViewBag.qstnpdf != null)
                                    {
                                        <a id="~/Module/Question_PDF/@ViewBag.qstnpdf" class="qstnpdf" href="#"><img border="0" alt="Sample PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                    }
                                </div>
                            </div>*@

                        @*<div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">No of Question (In PDF)</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <label class="checkbox">
                                        @Html.TextBoxFor(m => m.No_Question, new { @type = "number", @class = "form-control" })
                                    </label>
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Is Free Test</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <label class="checkbox">
                                        @Html.CheckBox("Is_Free_Test", new { })
                                    </label>
                                </div>
                            </div>*@

                        @*<input type="hidden" name="key" value="@ViewBag.upload_data.key" /><br />
                            <input type="hidden" name="XAmzCredential" value="@ViewBag.upload_data["x-amz-credential"]" /><br />
                            <input type="hidden" name="XAmzAlgorithm" value="@ViewBag.upload_data["x-amz-algorithm"]" /><br />
                            <input type="hidden" name="XAmzDate" value="@ViewBag.upload_data["x-amz-date"]" /><br />
                            <input type="hidden" name="Policy" value='@ViewBag.upload_data.policy' /><br />
                            <input type="hidden" name="XAmzSignature" value="@ViewBag.upload_data["x-amz-signature"]" /><br />

                            <input type="hidden" name="success_action_status" value="201" />
                            <input type="hidden" name="url" value="@ViewBag.upload_data.upload_link_secure" />
                            <input type="hidden" name="success_action_redirect" value="http://sms.host.learn.odmps.org/Admin/CreateModule" />*@
                        @*<input type="hidden" name="videoid" value="@ViewBag.upload_data.video_id" />*@
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <button id="btnback" onclick="javascript: window.history.back();" class="btn btn-primary"><i class="fa fa-undo"></i><span> Back </span></button>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <object width="100%" height="500px" id="pdfview" data="#"></object>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

@section scripts
  {
    @*<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>*@
    <script>

        $('input[name=is_free]').change(function () {
            if ($('input[name=is_free]').is(':checked')) {
                $("#valid_div").show();
            } else {
                $("#valid_div").hide();
            }
        });
        if ($('input[name=is_free]').is(':checked')) {
            $("#valid_div").show();
        } else {
            $("#valid_div").hide();
        }

        var hide = $("#Module_ID").val();
        var classAvailable = '@ViewBag.classid';
        @if(@ViewBag.classid != null)
						{
			<text>
        if (hide != null) {
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllClass",
                data: { brdId: $('#ddlboard').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta = "<select id='ddlclass'>";
                    sta = sta + '<option value="">Please Select Class</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == classAvailable) {
                                sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                    }
                    sta = sta + '</select>';
                    $('#ddlclass').html(sta);
                }
            });

            var subAvailable = '@ViewBag.subid';
            var classopt = '@ViewBag.classid';
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllSubject",
                data: { ClsId: classopt },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta1 = "<select id='ddlsubject'>";
                    sta1 = sta1 + '<option value="">Please Select Subject</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == subAvailable) {
                                sta1 = sta1 + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                    }
                    sta1 = sta1 + '</select>';
                    $('#ddlsubject').html(sta1);
                }
            });



            var chapAvailable = '@ViewBag.chapterid';
            var subopt = '@ViewBag.subid';
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllChapter",
                data: { SubId: subopt },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var fst = "<select id='ddlchap'>";
                    fst = fst + '<option value="">Please Select Chapter</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == chapAvailable) {
                                fst = fst + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                fst = fst + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                    }
                    fst = fst + '</select>';
                    $('#ddlchap').html(fst);

                }
            });
        }
        </text>
}
        $("#RegImage3").change(function () {
            $('#mdvideo').hide();
            //readURL3(this);
            //$('#mdvideo1').show();
        });

        $(".pdfid").on('click', function (event) {
            debugger;
            var href = $(this).attr("id");
            $('#pdfview').attr('data', href);
            $('#myModal3').modal('show');
        });
        $(".qstnpdf").on('click', function (event) {
            debugger;
            var href = $(this).attr("id");
            $('#pdfview').attr('data', href);
            $('#myModal3').modal('show');
        });




        $('#ddlboard').change(function () {

            debugger;
            if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlclass').closest('.form-group').addClass('display-loader');

            //$('#ddlclass').addClass('loading');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllClass",
                data: { brdId: $('#ddlboard').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta = "<select id='ddlclass'>";
                    sta = sta + '<option value="">Please Select Class</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                    }
                    sta = sta + '</select>';
                    $('#ddlclass').html(sta);

                    //setTimeout(function () {
                    //    $('#ddlclass').removeClass('loading');
                    //}, 800);
                    setTimeout(function () {
                        $('#ddlclass').closest('.form-group').removeClass('display-loader');
                    }, 800);

                }
            });
        });
        $('#ddlclass').change(function () {
            if ($('#ddlsubject').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlsubject').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlsubject').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllSubject",
                data: { ClsId: $('#ddlclass').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta1 = "<select id='ddlsubject'>";
                    sta1 = sta1 + '<option value="">Please Select Subject</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                    }
                    sta1 = sta1 + '</select>';
                    $('#ddlsubject').html(sta1);
                    setTimeout(function () {
                        $('#ddlsubject').closest('.form-group').removeClass('display-loader');
                    }, 800);
                }
            });
        });
        $('#ddlsubject').change(function () {
            if ($('#ddlchap').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlchap').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlchap').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllChapter",
                data: { SubId: $('#ddlsubject').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var fst = "<select id='ddlchap'>";
                    fst = fst + '<option value="">Please Select Chapter</option>';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            fst = fst + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                    }
                    fst = fst + '</select>';
                    $('#ddlchap').html(fst);
                    setTimeout(function () {
                        $('#ddlchap').closest('.form-group').removeClass('display-loader');
                    }, 800);

                }
            });
        });


    </script>
}