﻿@{
    ViewBag.Title = "DictionaryBulkUpload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        @using (Html.BeginForm("DictionaryBulkUpload", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Sample Format</th>
                        <th>Upload Excel</th>
                        <th>Upload Images</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="~/Content/Dictionary Sample.xlsx"><span class="fa fa-download" title="Download Question Format"></span> Download</a></td>
                        <td><input type="file" id="qstnupld" name="qstnupld" accept=".xls,.xlsx" class="form-control" required /></td>
                        <td>
                            <input type="file" id="imagefiles" multiple="multiple" accept=".jpg,.png" name="imagefiles" class="form-control" />
                        </td>
                        <td><button id="btnupld" type="submit" name="btnupld" class="btn btn-danger">Upload</button></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>