﻿@{
    ViewBag.Title = "Get_Video_Lists";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetReportData();

        function GetReportData() {

            debugger;
            $.ajax({
                url: "/Admin/GetVideoLists",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table1 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].Module_ID + '</td>';
                            tr += '<td>' + data[i].Module_Name + '</td>';
                            tr += '<td>' + data[i].Module_video + '</td>';
                            tr += '<td><img src="' + data[i].Module_Image + '" width="120" height="120" /></td>';
                            tr += '<td>' + data[i].dimention + '</td>';
                            tr += '</tr>';

                        }
                        var oTable = $('#table1').dataTable();
                        oTable.fnDestroy();
                        $('#table1 tbody').html(tr);
                        $('#table1').dataTable();

                    }
                    else {
                        $('#table1 tbody').empty();
                    }
                }
            })

        }
    })
</script>

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Video List
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Video List</span>

            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Video List</h3>
                    <div class="box-tool box-tooll">

                        <a href="~/Admin/Exportvideoreportdata" id="btnexport" class="btn btn-primary dropdown-toggle"><i class="fa fa-file-excel-o"></i> XLS</a>

                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Module Id</th>
                                    <th>Module Name</th>
                                    <th>Module Video</th>
                                    <th>Module Image</th>
                                    <th>Dimension</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
