﻿@{
    ViewBag.Title = "GetRegisteredUserReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        Getschools();
        GetBoard();
        GetClass('0');
        GetSection('0');
        GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })
        function Getschools() {
            $.get("/Admin/GetSchoolListDropDown", function (data) {
                debugger;
                $('#ddlschool').empty();
                if (data.length > 0) {
                    $('#ddlschool').append('<option value="0">All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolName + '">' + data[i].SchoolName + '</option>');
                    }
                }
                else {
                    $('#ddlschool').append('<option>All</option>');
                }              
            }
            );
        }
        //========================GET BOARD DETAILS==================================//

        function GetBoard() {

            $.get("/Admin/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();                   
                    $('#ddlboard').append('<option selected>All</option>');
                   
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');
                   
                }
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {

            if (id != '0') {

                $.get("/Admin/GetClassList?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                       
                        $('#ddlclass').append('<option selected>All</option>');
                       
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');
                           
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {

            if (id != '0') {

                $.get("/Home/GetSection?id=" + id + "&school=" + $('#ddlschool').val(), function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
            }
        }

        //========================GET SECTION DETAILS==================================//
        $('#btnexport').click(function () {
            $.get('/Admin/Exportallregisteredreportdata?school=' + $('#ddlschool').val() + '&board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';                      
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '</tr>';                       
                    }
                    var oTable = $('#table1').dataTable();
                    oTable.fnDestroy();
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    $('#lblcount').html(data.length);
                }
                else {
                    $('#table1 tbody').empty();
                }

            })
        })
        $('#btnsearch').click(function () {
            $.get('/Admin/GetRegisteredUsersDetails?school=' + $('#ddlschool').val() + '&board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '</tr>';
                    }
                    var oTable = $('#table1').dataTable();
                    oTable.fnDestroy();
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    $('#lblcount').html(data.length);
                }
                else {
                    $('#table1 tbody').empty();
                }

            })
        })
        function GetAllusers()
        {
            $.get('/Admin/GetRegisteredUsersDetails?school=' + $('#ddlschool').val() + '&board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '</tr>';
                    }
                    var oTable = $('#table1').dataTable();
                    oTable.fnDestroy();
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    $('#lblcount').html(data.length);
                }
                else {
                    $('#table1 tbody').empty();
                }

            })
        }
    })
</script>
<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Video List
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Video List</span>

            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Video List</h3>
                    <div class="box-tool box-tooll">

                        <a id="btnexport" class="btn btn-primary dropdown-toggle"><i class="fa fa-file-excel-o"></i> XLS</a>

                    </div>
                </div>
                <div class="box-content">
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">School</div>
                        <div class="col-md-4">
                            <select id="ddlschool" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Section</div>
                        <div class="col-md-4">
                            <select id="ddlsection" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group text-center">
                       <button id="btnsearch" class="btn btn-primary">Search</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">Total Number of Users</div>
                        <div class="col-md-2"><label id="lblcount"></label></div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>School Name</th>
                                    <th>Regd No</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Mobile</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>