﻿@model IEnumerable<DigiChamps.Models.View_DC_Order_Details>
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Order Info
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-list-ul"></i>Search Order By Date </h3>
                </div>
                <div class="box-content">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="">
                                @using (Html.BeginForm("orderdetails", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group last box-tooll">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Order Info</h3>
					   <div class="box-tool box-tooll">
                     
                           <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>
                    
                   </div>
                </div>
                <div class="box-content">
                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="table1">

                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Order No</th>
                                        <th>User Name</th>
                                        <th>Package details</th>                                        
                                        <th style="width: 20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{   int i = 1;}
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.Raw(i++)</td>
                                                <td>@item.Order_No</td>
                                                <td>@item.Customer_Name</td>
                                                <td>No of Packages : @item.No_of_Package<br />
                                                    Total Price : Rs. @string.Format("{0:0.00}", item.Total) </td>
                                                <td>
                                                    @Html.ActionLink("View Details", "userorder", "Admin", new { id = @item.Order_ID }, new { @class = "btn btn-lime btn-sm", @title = "View Details" }) </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   <script>
       $("#validation-form").validate();
   </script>
   <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
   <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
   <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
   <script src="~/js/plugins/tableexport/html2canvas.js"></script>
   <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
   <script src="~/js/plugins/tableexport/tableExport.js"></script>
}