﻿@{
    ViewBag.Title = "Registrationbulkupload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<div class="page-content-wrap">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>User Bulk Upload</h3>
                </div>

                <div class="box-content">
                    @using (Html.BeginForm("UploadExcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sample Format</th>
                                    <th>Upload Excel</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="~/Content/PurchasePackage.xlsx"><span class="fa fa-download" title="Download User Format"></span> Download</a></td>
                                    <td>
                                        <input type="file" id="FileUpload" name="FileUpload" accept=".xls,.xlsx" class="form-control" required />
                                    </td>

                                    <td><input type="submit" value="Upload" id="btnSubmit" class="btn btn-danger" />
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>