﻿@{
    ViewBag.Title = "StudentCoins";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Student Coin Earn Details</h3>
                   
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student</th>
                                    <th>Mobile</th>
                                    <th>Coins </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.CashEarnDetails != null)
                                {
                                    int i = 0;
                                    var g = ViewBag.CashEarnDetails as List<DigiChamps.Controllers.AdminController.Coin_Earn_Class>;
                                    foreach (var data in g)
                                    {
                                        <tr>
                                            <td>@(i += 1)</td>
                                            <td>@data.Customer_Name</td>
                                            <td>@data.mobile</td>
                                            <td>@data.Coins</td>
                                            <td><a href="/Admin/StudentCoinsDetails?id=@data.RegdId">View Details</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>