@{
    ViewBag.Title = "Subject Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-content-wrap">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-file-text"></i>Subject Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Admin/AddSubjectCategory" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add New</span></a>
                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Subject Category</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{   int i = 1;
                                }
                                @if (ViewBag.SubjectCategorydata != null)
                                {
                                    foreach (var b in ViewBag.SubjectCategorydata)
                                    {
                                        <tr id="smt">
                                            <td><label>@Html.Raw(i++)</label></td>

                                            <td>@b.Subject_Category</td>
                                            <td>
                                                @Html.ActionLink(" ", "DeleteSubjectCategory", "Admin", new { id = @b.Subject_Category_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the topic ?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>


                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>