﻿@{
    ViewBag.Title = "ViewMantor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
            <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    @*<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-ticket"></i>Search Mentor By Date</h3>
                </div>
                <div class="box-content">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="">
                                @using (Html.BeginForm("ViewMantor", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-5 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-5 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group last box-tooll">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@using (Html.BeginForm("AssignTeacher", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
    <div class="row ">
        <div class="col-md-12">
            <div class="box">

                <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                <form id="Ticke_form" class="form-horizontal">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-title">
                                        <h3><i class="fa fa-file-text"></i>Mentor Details</h3>
                                        @*<div class="box-tool box-tooll">
                                                <a class="btn btn-primary" href="/Admin/AddMantor"><i class="fa fa-plus"></i><span>Add New</span> </a>
                                            </div>*@
                                    </div>
                                    <div class="box-content">
                                        <div class="btn-group">
                                            @{
                                                string typ = "-";
                                            }
                                            <select class="form-control chosen" id="ddlteacher" name="Teacher_name">
                                                @if (ViewBag.teachernames_mantor != null)
                                                {
                                                    <option value="0">Select TeacherName</option>
                                                    foreach (var v in ViewBag.teachernames_mantor)
                                                    {
                                                        <option value="@v.Teach_ID">@v.Teacher_Name </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" title="Assign Mentor" class="btn btn-circle show-tooltip"><i class="fa fa-user"></i></button>
                                        </div>
                                        <br /><br />
                                        <div class="clearfix"></div>
                                        <div class="table-responsive" style="border:0">
                                            <table class="table table-advance table-hover" id="table1">
                                                <thead>
                                                    <tr>
                                                        <th hidden>sl no</th>
                                                        <th></th>
                                                        <th>Student Name</th>
                                                        <th>Mobile</th>
                                                        <th>Class</th>
                                                        <th>Assigned Teacher</th>
                                                        @*<th>Status</th>*@
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @if (ViewBag.data != null)
                                                {
                                                    int i = 0;
                                                    foreach (var item in ViewBag.data)
                                                    {
                                                        <tr>
                                                            @{
                                                       // DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                                        //var Teachernames=( DigiChamps.Models.tbl_DC_Teacher)null;
                                                        int reg = Convert.ToInt32(@item.Regd_ID);
                                                        //var mentor = DbContext.tbl_DC_MentorMaster.Where(x => x.Student_ID == reg).FirstOrDefault();
                                                        //var registrationde = DbContext.tbl_DC_Registration_Dtl.Where(x => x.Regd_ID == reg).FirstOrDefault();
                                                        //var ClassDetails = (DigiChamps.Models.tbl_DC_Class)null;
                                                        //if(registrationde!=null)
                                                        //{
                                                        //    ClassDetails = DbContext.tbl_DC_Class.Where(x => x.Class_Id == registrationde.Class_ID).FirstOrDefault();
                                                        //}
                                                        //if(mentor!=null)
                                                        //{
                                                        //    Teachernames = DbContext.tbl_DC_Teacher.Where(x => x.Teach_ID == mentor.Teacher_ID).FirstOrDefault();
                                                        //}
                                                        
                                                           }
                                                            <td hidden>@(i += 1)</td>
                                                            <td>
                                                            @if (item.Teacher_Name==null)
                                                            {
                                                                    <input type="checkbox" id="Chk_mentors" name="Chk_mentors" value="@reg" />
                                                            }                                                          
                                                            </td>
                                                            <td>
                                                                @item.Customer_Name
                                                            </td>
                                                            <td>
                                                                @item.Phone
                                                            </td>
                                                            <td>
                                                                @if (item.Class_Name!=null)
                                                                {
                                                                    @item.Class_Name
                                                                }
                                                            </td>
                                                            @if (item.Teacher_Name != null)
                                                            {
                                                                <td>@item.Teacher_Name</td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="label label-info">No Teacher Assigned</span></td>
                                                            }
                                                            @*<td>
                                                                @TeacherDetails.Teacher_Name
                                                            </td>*@
                                                            <td>
                                                            @if (item.Teacher_Name!=null)
                                                            {
                                                                <a href="/Admin/DeleteAssign/@item.Regd_ID"><span class="label label-yellow">Unassign</span></a>
                                                            }
                                                                </td>
                                                           
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>
}

</div>
@section scripts
{
    <script>
        $(document).ready(function () {
       
                $("#btnSearch").click(function () {
                    debugger;
                    var tb = $(this).attr('title');
                    var sel = false;
                    var ch = $('#table1').find('tbody input[type=checkbox]');
                    var c = confirm('Are you sure, want to delete?');
                    if (c) {

                        if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                            $.ajax({
                                type: 'POST',
                                url: "/Admin/Delete_ALLTickets",
                                data: $('#Ticke_form').serialize(),
                                success: function (data) {
                                    if (data == "1") {
                                        $("#modal_3 .modal-body h5").html("Selected Ticket Deleted Successfully.");
                                        $("#modal_3").modal("show");
                                        setTimeout(9000);
                                        location.href = "/Admin/Ticket";


                                    } else if (data == "2") {
                                        location.href = "/Admin/Logout";
                                    }
                                    else {
                                        $("#modal_3 .modal-body h5").html("Something went wrong.");
                                        $("#modal_3").modal("show");
                                        setTimeout(9000);
                                        location.href = "/Admin/Ticket";
                                    }
                                }
                            });


                        } else {
                            $("#modal_3 .modal-body h5").html("Nothing selected.");
                            $("#modal_3").modal("show");
                        }

                    }
                })
                $("#btnassign").click(function () {
                    if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                        $.ajax({
                            type: 'POST',
                            url: "/Admin/Bulk_Assign_Mantors",
                            dataType: "json",
                            data: $('#Ticke_form').serialize(),
                            success: function (data) {
                                if (data == "1") {
                                    $("#modal_3 .modal-body h5").html("Mantor Assigned Successfully.");
                                    $("#modal_3").modal("show");
                                    setTimeout(9000);
                                    location.href = "/Admin/ViewMantor";


                                }
                                else if (data == "3") {
                                    location.href = "/Admin/Logout";
                                }
                                else {
                                    $("#modal_3 .modal-body h5").html(data);
                                    $("#modal_3").modal("show");
                                }
                            }
                        });
                    }
                    else {
                        $("#modal_3 .modal-body h5").html("Nothing selected.");
                        $("#modal_3").modal("show");
                    }
                })



                $(".blue").click(function () {
                    debugger;
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/tooltip_ticket_details",
                        data: { id: $(this).attr('value') },
                        dataType: "json",
                        success: function (data) {
                            if (data[0] == "No data found") {
                                $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                                $("#modal_4 .modal-body #Ticket_d").html(data[0]);
                                $("#modal_4").modal("show");
                            } else {
                                $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                                $("#modal_4 .modal-body #Ticket_d").html(data[1]);
                                $("#modal_4").modal("show");
                            }

                        }
                    });
                });
            });
    </script>
}


