﻿@{
    ViewBag.Title = "EditGrievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model DigiChamps.Models.Grievance



<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GetGrievanceByUserId">GrievanceList</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Create</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UpdateGrievance", "Grievance", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <input type="hidden" id="InsertedId" name="InsertedId" value="@Model.InsertedId" />
                <input type="hidden" id="InsertedDatetime" name="InsertedDateTime" value="@Model.InsertedDateTime" />
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Update Grievance</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Module</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlclass" name="ModuleId" class="form-control">
                                    <option>Please Select Module</option>
                                    @foreach (var a in ViewBag.ModuleList)
                                    {
                                        <option value="@a.Module_ID" selected="@(Model.Module == a.Module_ID ? true : false)">@a.Module_Name</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" id="name" name="Title" class="form-control" value="@Model.Title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" id="name" name="Description" class="form-control" value="@Model.Description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Comment</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" id="name" name="Description" class="form-control" value="@Model.Description" />
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Status</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="status" name="Active" class="form-control">
                                    @foreach (var b in ViewBag.status)
                                    {
                                        <option value="@b.Value" selected="@(Model.Active == System.Convert.ToBoolean(b.Value) ? true : false)">@b.Text</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Attachments" class="col-sm-3 col-lg-2 control-label">Attachments:</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <table class="table table-advance">
                                    <thead>
                                        <tr>
                                            <th>Sl.No</th>
                                            <th>FileName</th>
                                            <th>
                                                <button type="button" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus-square" style="font-size:20px;color:red"></i> <b>Add</b>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.attachmentList != null)
                                        {
                                            int rowNo = 0;
                                            foreach (var item in ViewBag.attachmentList)
                                            {
                                                <tr>
                                                    <td>@(rowNo += 1)</td>
                                                    <td class="h6 font-weight-normal "><a href='~/Content/Grievance/@item.FileName' target="_blank"> @item.FileName </a></td>
                                                    <td><a href="@Url.Action("DeleteAttachments", "Grievance",new { id = @item.ID})"><i id="trash" class="fa fa-trash" style="color:red"></i></a></td>
                                                </tr>



                                            }
                                        }
                                    </tbody>
                                </table>
                                <br /><br />
                            </div>

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("GetGrievanceByUserId", "Grievance")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                    <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Update</span> </button>

                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            }
        </div>

    </div>
</div>


<div class="modal fade" id="myModal" role="dialog" style="font-family:sans-serif">
    <div class="modal-dialog modal-bg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add Attachment</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddGrievanceAttachment", "Grievance", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    <input type="hidden" id="reqid" name="grivId" value="@Model.ID" />
                    <div class="row">
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="col-md-4">
                            Choose File
                        </div>
                        <div class="col-md-4">
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="file" id="img" name="grivimg" accept="image/*">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <button id="btnSearch" type="submit" class="btn btn-primary"><span>Upload Attachment</span> </button> 
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#trash').click(function () {
            alert("are you sure you want to delete this attachment");
        });
    });
</script>
