﻿@{
    ViewBag.Title = "GrivanceMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>GrivanceMaster</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="card-title text-white font-weight-bold"><i class="fa fa-user"></i> &nbsp; &nbsp; &nbsp;&nbsp;MyGrivance</h4>
            </div>
            <div class="card-body">

                <p class="card-text">Get/Create new grivance</p>

            </div>
            <div class="card-header bg-light text-center text-justify">
                @Html.ActionLink(" ", "GetGrievanceByUserId", "Grievance", " ", new { @class = "fa fa-arrow-circle-right" })
                @*<a asp-action="GrievanceApproval"
                    asp-controller="Grievance"
                    class="text-center">Open <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="card-title text-white font-weight-bold"><i class="fa fa-wrench"></i> &nbsp; &nbsp; &nbsp;&nbsp;Resolve</h4>
            </div>
            <div class="card-body">

                <p class="card-text">Manage Grivance requests</p>

            </div>
            <div class="card-header bg-light text-center text-justify">
                @Html.ActionLink(" ", "GetGrievanceByUserId", "Grievance", " ", new { @class = "fa fa-arrow-circle-right" })
                @*<a asp-action="GrievanceResolve" asp-controller="Grievance"
                       class="text-center">
                        Open <i class="fa fa-arrow-circle-right">
                        </i>
                    </a>*@
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-warning">
                <h4 class="card-title text-white font-weight-bold"><i class="fa fa-bar-chart"></i> &nbsp; &nbsp; &nbsp;&nbsp;Reports</h4>
            </div>
            <div class="card-body">

                <p class="card-text">Track user-wise reports</p>

            </div>
            <div class="card-header bg-light text-center text-justify">
                @Html.ActionLink(" ", "GetGrievanceByUserId", "Grievance", " ", new { @class = "fa fa-arrow-circle-right" })
                @*<a asp-action="GrievanceReport" asp-controller="Grievance" class="text-center">Open <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
    </div>

    <div class="col-sm-2"></div>
</div>

<style>

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: .35rem;
    }

        .card > hr {
            margin-right: 0;
            margin-left: 0
        }

        .card > .list-group:first-child .list-group-item:first-child {
            border-top-left-radius: .35rem;
            border-top-right-radius: .35rem
        }

        .card > .list-group:last-child .list-group-item:last-child {
            border-bottom-right-radius: .35rem;
            border-bottom-left-radius: .35rem
        }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .card-title {
        margin-bottom: .75rem
    }

    .card-subtitle {
        margin-top: -.375rem;
        margin-bottom: 0
    }

    .card-text:last-child {
        margin-bottom: 0
    }

    .card-link:hover {
        text-decoration: none
    }

    .card-link + .card-link {
        margin-left: 1.25rem
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #f8f9fc;
        border-bottom: 1px solid #e3e6f0
    }

        .card-header:first-child {
            border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0
        }

        .card-header + .list-group .list-group-item:first-child {
            border-top: 0
        }

    .card-footer {
        padding: .75rem 1.25rem;
        background-color: #f8f9fc;
        border-top: 1px solid #e3e6f0
    }

        .card-footer:last-child {
            border-radius: 0 0 calc(.35rem - 1px) calc(.35rem - 1px)
        }

    .card-header-tabs {
        margin-right: -.625rem;
        margin-bottom: -.75rem;
        margin-left: -.625rem;
        border-bottom: 0
    }

    .card-header-pills {
        margin-right: -.625rem;
        margin-left: -.625rem
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem
    }

    .card-img {
        width: 100%;
        border-radius: calc(.35rem - 1px)
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.35rem - 1px);
        border-top-right-radius: calc(.35rem - 1px)
    }

    .card-img-bottom {
        width: 100%;
        border-bottom-right-radius: calc(.35rem - 1px);
        border-bottom-left-radius: calc(.35rem - 1px)
    }

    .card-deck {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

        .card-deck .card {
            margin-bottom: .75rem
        }

    .bg-info {
        background-color: #36b9cc !important;
    }

    .bg-success {
        background-color: #1cc88a !important;
    }

    .bg-warning {
        background-color: #f6c23e !important;
    }

    .text-white {
        color: #fff !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }

    .card-title {
        margin-bottom: .75rem;
    }

    .h5, h5 {
        font-size: 1.25rem;
    }

    .fa {
        font-weight: 900;
    }

    .fa-user-check:before {
        content: "\f4fc";
    }

    .fa-wrench:before {
        content: "\f0ad";
    }

    body {
        margin: 0;
        font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #858796;
        text-align: left;
        background-color: #fff
    }

    .text-center {
        text-align: center !important;
        color: red;
    }

    .bg-light {
        background-color: #f8f9fc !important;
    }
</style>
