﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - ODM Teacher</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="stylesheet" href="~/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
    <style>
        .login-page form input[type="text"], .login-page form input[type="password"] {
    padding: 15px 10px !important;
    height: auto !important;
    font-size: 16px;    
    border: 1px solid #24a0d6;
    border-radius: 36px;
}

    </style>
           
</head>
<body class="login-page">
    <!-- BEGIN Main Content -->
    <div class="login-wrapper">
        <!-- BEGIN Login Form -->
        @using (Html.BeginForm("Login", "TeacherAccess", FormMethod.Post, new { @id = "validation-form" }))
        {
            <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Teacher Login</h3>
            if (TempData["ErrorMessage"] != null)
            {
                <div style="font-size: 13px; color: red;">@TempData["ErrorMessage"]</div>
            }
            <hr />
            <div class="form-group">
                <div class="controls">
                    <input type="text" placeholder="Mobile" id="User_name" name="User_name" class="form-control" data-rule-required="true" data-msg-required="Please enter Mobile Number" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control" style="box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 9px 14px 46px #2b6184;">LOGIN</button>
                </div>
            </div>
            <hr />
            <p class="clearfix">
                <a href="#" class="goto-forgot pull-left">Forgot Password?</a>

            </p>

        }
        <!-- END Login Form -->
        <!-- BEGIN Forgot Password Form -->
        @*@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @id = "form-forgot" }))
            {*@
        <form id="form-forgot" style="display:none">
            <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Get your password</h3>
            <hr />
            <span id="frgmsg" style="color: #0090ff;"></span>
            <div class="form-group">
                <div class="controls">
                    <input type="email" placeholder="Email" class="form-control" id="t_mail" name="email" required />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">Recover</button>
                </div>
            </div>
            <hr />
            <p class="clearfix">
                <a href="/Admin/Login" class="goto-login pull-left">← Back to login form</a>
            </p>
        </form>
        @*}*@
        <!-- END Forgot Password Form -->
        <!-- BEGIN Register Form -->
       
        <!-- END Register Form -->
    </div>
    <!-- END Main Content -->
    <!--basic scripts-->
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>


 
</body>
</html>
