﻿@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model DigiChamps.Models.Teacher

    <div class="form-horizontal" id="validation-form">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active">Profile</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Profile Details</h3>

                    </div>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-dismissable alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            @TempData["Message"]
                        </div>
                    }
                    <div class="box-content">
                      
                        <form method="post" action="EditProfile" enctype="multipart/form-data">
                            <input type="text" value="@ViewBag.TeacherId" name="TeacherId" class="form-control" />
                            <div class="form-group voffset4 ">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Name :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" value="@ViewBag.Name" name="Name" class="form-control" required="required" data_msg_required="Please enter Name" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Email :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="email" value="@ViewBag.Email.Trim()" name="Email" class="form-control" required="required" data_msg_required="Please enter Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Mobile :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" value="@ViewBag.Mobile.Trim()" name="Mobile" class="form-control" required="required" data_msg_required="Please enter Mobile" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Department Name :</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" value="@ViewBag.DepartmentName.Trim()" name="DepartmentName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Is Head :</label>
                                <div class="col-sm-2 col-lg-1 controls">

                                    @if (@ViewBag.IsHead == true)
                                    {
                                        <input type="checkbox" checked  name="IsHead" class="form-control" />
                                    }
                                    else
                                    {
                                        <input type="checkbox"   name="IsHead" class="form-control" />
                                    }

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Photo :</label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="file-upload-cont">
                                            <div class="fileupload-new img-thumbnail" style="width:160px; height: 190px; ">
                                                @if (ViewBag.image != null)
                                                {
                                                    <Span>
                                                        @{
                                                            string img = Convert.ToString(@ViewBag.image);
                                                            string rimg = string.Empty;
                                                            if (img.Contains("/Images/TeacherAccess/"))
                                                            {
                                                                rimg = img.Replace("/Images/TeacherAccess/", "");
                                                            }
                                                            else
                                                            {
                                                                rimg = @img;
                                                            }
                                                    }
                                                </Span>
                                                <img src="/Images/TeacherAccess/@rimg" id="img_" width="150" height="180" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/-text.png" id="img_" width="150" height="180" alt="" />
                                            }

                                            </div>
                                            <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                            <div>
                                                <span class="btn btn-default btn-file">
                                                    <span class="fileupload-new">Select image</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input class="file-input" type="file" accept=".png, .jpg, .jpeg" id="teacher_img" name="Photo" title="Upload Image" data-msg-required="Please select profile image" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                                <div class="form-group last box-tooll">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                        <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>

                                    </div>
                                </div>


</form>

                    </div>
                </div>
            </div>
        </div>

    </div>
<script>
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#teacher_img").change(function () {
        readURL1(this);
    });
</script>