﻿@{
    ViewBag.Title = "MentorshipExam";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script>
    $(document).ready(function () {
        //==================== Page Load ==========================//
        $('#btnprevious').hide();
        $('#btnnext').hide();
        $('#btnsubmit').hide();
        GetallQuestions();
        //==================== Page Load ==========================//

        //==================== Check Details For Next and Previous Button ==========================//
        function checkbutton(status) {
            debugger;
            if (status == "F") {
                $('#btnprevious').hide();
                $('#btnnext').show();
                $('#btnsubmit').hide();
            }
            if (status == "L") {
                $('#btnprevious').show();
                $('#btnnext').hide();
                $('#btnsubmit').show();
            }
            if (status == "N") {
                $('#btnprevious').show();
                $('#btnnext').show();
                $('#btnsubmit').hide();
            }
        }
        //==================== Check Details For Next and Previous Button ==========================//

        //==================== Get First Question and Answer ==========================//
        function GetallQuestions() {
            getquestionsans(1);
        }
        //==================== Get First Question and Answer ==========================//

        //==================== Method For Getting Question and Answer ==========================//
        function getquestionsans(id) {
            $.get("/MentorshipDashboard/GetQuestions?id=" + id + "", function (data) {
                debugger;
                if (data == '3') {
                    alert('Maximum Limits Exceeded');
                }
                else if (data == '0') {
                    window.location = "../MentorshipDashboard/Registration";
                }
                else {
                    $('#hdnid').val(data[0].Id);
                    checkbutton(data[0].btnchk);
                    $('#divoptions').empty();
                    $('#lblquestion').html('Q ' + data[0].Id + ' - ' + data[0].Question);
                    for (var s = 0; s < data[0].options.length; s++) {
                        var m = '<div class="radio"><label><input type="radio" name="optradio" onchange="Checkanswer()" value="' + data[0].options[s].Answer_ID + '">' + data[0].options[s].Option_Desc + '</label></div>';
                        $('#divoptions').append(m);
                    }
                    var rates = document.getElementsByName('optradio');
                    if (data[0].Answer != '0') {
                        for (var i = 0; i < rates.length; i++) {
                            if (rates[i].value == data[0].Answer) {
                                rates[i].checked = true;
                            }
                        }
                    }
                }
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        //==================== Method For Getting Question and Answer ==========================//

        //==================== Next button click event ==========================//
        $('#btnnext').click(function () {
            var id = parseInt($('#hdnid').val()) + 1;
            getquestionsans(id);
        })
        //==================== Next button click event ==========================//

        //==================== Previous button click event ==========================//
        $('#btnprevious').click(function () {
            var id = parseInt($('#hdnid').val()) - 1;
            getquestionsans(id);
        })
        //==================== Previous button click event ==========================//

        //==================== Final Submit button click event ==========================//
        $('#btnsubmit').click(function () {
            var answer = confirm("Are you sure, You want to submit this answers...");
            if (answer) {
                debugger;
                $.get("../MentorshipDashboard/SaveMentorshipExamResult", function (data) {
                    debugger;
                    if (data == '0') {
                        window.location = "../MentorshipDashboard/Registration";
                    }
                    else if (data == '2') {
                        alert("Please Answer All the Questions");
                    }
                    else {
                        debugger;
                        $.ajax({
                            url: '/api/Exam/PostMentorshipExamResult',
                            type: 'POST',                           
                            data: data,
                            ContentType: 'application/json;utf-8',
                            datatype: 'json',
                            success: function (data, jqXHR) {
                                debugger;
                                var res = data.success;
                                if (res != null) {
                                    $.post("/MentorshipDashboard/SendDataToNextPage", res, function (data) {
                                        debugger;
                                        if (data == '1') {
                                            window.location = "../MentorshipDashboard/ExamResult";
                                        }
                                    })
                                }
                               
                               // alert("Submitted Successfully");
                            },
                            error: function (err) {
                                alert("Error " + err.status);
                            }
                        });
                    }
                })
            }
            else {
                //task for no

            }
            
        })
        //==================== Final Submit button click event ==========================//

    })

    //==================== Method For Checking Radio button change event ==========================//
    function Checkanswer() {
        debugger;
        var rates = document.getElementsByName('optradio');
        for (var i = 0; i < rates.length; i++) {
            if (rates[i].checked) {
                var id = parseInt($('#hdnid').val());
                $.get("/MentorshipDashboard/PutAnswer?id=" + rates[i].value + "&qid=" + id + "", function (data) {
                })
            }
        }

    }
    //==================== Method For Checking Radio button change event ==========================//
</script>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-white bg-white ">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Digichamps_logo.png" alt="">
        </a>
        <h3 style="margin-left:150px;">Mentorship Exam</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>       
    </nav>
</div>

<div class="container" style="margin-left:5%;margin-top:10%;margin-bottom:10%;">
     <div class="form-group" style="font-weight:500;font-size:16px;">
        <input type="hidden" id="hdnid" />
        <label id="lblquestion"></label>
     </div>
     <div class="form-group" id="divoptions" style="font-weight:200;font-size:14px;padding-left:30px;">
     </div>
     <div class="form-group">
     <!-- panel-footer -->
         <div class="col-md-6">
              <button id="btnprevious" class="btn btn-primary">Previous</button>
         </div>
         <div class="col-md-6">
              <button id="btnsubmit" class="btn btn-primary">Final Submit</button>
              <button id="btnnext" class="btn btn-primary">Next</button>
         </div>
     </div>
</div>

