﻿@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}



<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Users Report
            </h1>

        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Students</h3>
                    <div class="box-tool box-tooll">

                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Reg. No</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>School</th>
                                    <th>Class</th>
                                    <th>Users Status</th>
                                    <th style="width: 10%;">View</th>
                                    <th style="width: 10%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{   int i = 1;}
                                @if (ViewBag.StudentDetails != null)
                                {
                                    foreach (var item in ViewBag.StudentDetails)
                                    {
                                <tr>
                                    <td>@Html.Raw(i++)</td>
                                    <td>@item.Regd_No</td>
                                    <td>@item.Customer_Name</td>
                                    <td>
                                        @item.Mobile
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @if (@item.Inserted != null)
                                                {
                                                @item.Inserted
                                                }

                                    </td>
                                    <td>
                                        @item.Organisation_Name
                                    </td>
                                    <td>
                                        @item.Class_Name
                                    </td>
                                   
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $("#validation-form").validate();
        
    </script>
    <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
    <script src="~/js/plugins/tableexport/html2canvas.js"></script>
    <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
    <script src="~/js/plugins/tableexport/tableExport.js"></script>
}
