



@font-face {
    font-family: "Material-Design-Icons";
    src: url(../fonts/material-design-icons/Material-Design-Icons.eot);
    src: url(../fonts/material-design-icons/Material-Design-Iconsd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/material-design-icons/Material-Design-Icons.woff) format("woff"), url(../fonts/material-design-icons/Material-Design-Icons.ttf) format("truetype"), url(../fonts/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons) format("svg");
    font-weight: normal;
    font-style: normal; }

[class^="mdi-"], [class*=" mdi-"] {
    font-family: "Material-Design-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }


.mdi-navigation-close:before {
    content: "\e89c"; }

.mdi-navigation-more-vert:before {
    content: "\e8a3"; }


.card-panel {
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff; }

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box; }
.card .card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300; }
.card .card-title.activator {
    cursor: pointer; }
.card a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase; }
.card a:hover {
    color: #ffd8a6; }
.card.small, .card.medium, .card.large {
    position: relative; }
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    overflow: hidden; }
.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    overflow: hidden; }
.card.small .card-action, .card.medium .card-action, .card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
.card.small {
    height: 300px; }
.card.small .card-image {
    height: 150px; }
.card.small .card-content {
    height: 150px; }
.card.medium {
    height: 400px; }
.card.medium .card-image {
    height: 250px; }
.card.medium .card-content {
    height: 150px; }
.card.large {
    height: 500px; }
.card.large .card-image {
    height: 330px; }
.card.large .card-content {
    height: 170px; }
.card .card-image {
    position: relative; }
.card .card-image img {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; }
.card .card-content {
    padding: 20px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.card .card-content p {
    margin: 0;
    color: inherit; }
.card .card-content .card-title {
    line-height: 48px; }
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px; }
.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.card .card-reveal .card-title {
    cursor: pointer;
    display: block; }

#toast-container {
    display: block;
    position: fixed;
    z-index: 1001; }
@media only screen and (max-width : 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%; } }
@media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
        min-width: 30%;
        left: 5%;
        bottom: 7%; } }
@media only screen and (min-width : 993px) {
    #toast-container {
        min-width: 8%;
        top: 10%;
        right: 7%; } }


.tabs {
    position: relative;
    height: 48px;
    /*background-color: #FFF;*/
    margin: 0 auto;
    width: 100%;
    white-space: nowrap; 
    padding: 0px;
}
.tabs li.tab {
    display: block;
    float: left;
    text-align: center;
    /*background-color: #fff;*/
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    /*text-transform: uppercase;*/
    letter-spacing: 0.8px;
    width: 15%; }
.tabs li.tab a {
    color: #ee6e73;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: 'latoregular';
        font-size: 20px;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease; 
    color: #9398a0;
}
.tabs li.tab a:hover {
    color: #2196F3; }
.tabs li.tab a.active {
    color: #83ad4a; }
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0fb4e4;
    will-change: left, right; }

ul.tabs li.tab {
    padding: 0; }







/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none; }
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7); }
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7); }
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7); }
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7); }
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7); }

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom; }
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none; }

.waves-block {
    display: block; }

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
    z-index: -1; }