@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
#ntspl_porlet .panel-heading {
  min-height: 50px;
}
#ntspl_porlet .panel-title {
  display: inline-block;
  float: left;
}
#ntspl_porlet .panel-controls {
  float: right;
}
#ntspl_porlet .panel-controls ul li {
  list-style: none;
  display: inline-block;
}