
/************************************** 
            This Code is For Responsive 
******************************************/

/* ========================================
                For Large Screen
================================================= */
@media only screen and (min-width: 1920px) {
}


/* ============================================
                For Medium Screen
============================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .edu-box:before {
        content: '';
        width: 88px;
        height: 1px;
        background: #54c2f3;
        position: absolute;
        left: -75px;
        transform: rotate(137deg);
        top: 70px;
    }

    .quote {
        width: 97px;
        height: 97px;
        background: #ffffff url(../../images/sprite-image.png) no-repeat no-repeat 13px 26px;
        position: absolute;
        bottom: 0px;
        right: -20px;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .caption_contain h2 {
        font-family: 'allerbold_italic';
        font-size: 64px;
        line-height: 45px;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }

    .caption_contain h1 {
        font-family: 'latothin';
        font-size: 34px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    .caption_contain img {
        width: 45% !important;
    }
    .ful-main {
        margin-left: 0px;
        width: 66%;
        margin: 70px auto;
        float: none;
    }
    .an-full {
        margin-left: 0px;
        /* margin-top: 30px; */
        width: 66%;
        margin: 37px auto;
        float: none;
    }
    .hilights-of-products {
        width: 100%;
        float: left;
        position: relative;
        padding: 57px 0px 100px;
        text-align: center;
        background: url(../../images/highlight-bg.jpg) repeat;
    }
}

/* ============================================
                For Tablet layout
============================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 991px) {
    .main-blog-container {
		height: 480px;
	}
	.department-icon {
		background: #ffffff;
		width: 100%;
		float: left;
	}
	.department-icon  img {
		width: 200px;
		margin: 20px auto 0;
		float: none;
	}
	.team-text {
		padding: 20px;
		background: #ffffff;
		min-height: 235px;
		width: 100%;
		float: left;
		text-align: center;
    }
    .ful-main {
        margin-left: 0px;
        width: 78%;
        margin: 70px auto;
        float: none;
    }
    .an-full {
        margin-left: 0px;
        /* margin-top: 30px; */
        width: 78%;
        margin: 37px auto;
        float: none;
    }
    .caption_contain h1 {
        font-family: 'latothin';
        font-size: 30px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    .caption_contain img {
        margin-top: 30px;
        width: 40% !important;
        /* text-align: center; */
        margin: 0 auto;
    }

    .caption_contain p {
        font-family: 'latolight';
        font-size: 28px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
        margin-top: 0px;
    }

    .caption_contain h2 {
        font-family: 'allerbold_italic';
        font-size: 57px;
        line-height: 29px;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }

    .caption_contain {
        width: 100%;
        position: absolute;
        top: 57%;
        -webkit-transform: translateY(-57%);
        -ms-transform: translateY(-57%);
        transform: translateY(-57%);
    }

    #owl-demo2 .owl-controls {
        position: relative;
        right: 0;
        bottom: 0px;
        text-align: center;
        margin-top: 30px;
    }

    .content-area h1 {
        font-family: 'latolight';
        font-size: 35px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 36px;
    }

    .middle-header {
        font-family: 'latolight';
        color: #252525;
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
        line-height: 36px;
        /* margin-top: 55px; */
    }

    .product-container:nth-child(4) .prd-detail {
        margin-bottom: 27px;
    }

    .full-image img {
        width: 100%;
        max-width: none!important;
    }

    .margin-bottom-sm {
        margin-bottom: 30px;
    }

    .edu-box:before {
        content: '';
        width: 88px;
        height: 1px;
        background: #54c2f3;
        position: absolute;
        left: -75px;
        transform: rotate(137deg);
        top: 70px;
        display: none;
    }

    .box-container {
        width: 48%;
    }

    .box-container:nth-child(2) .edu-box {
        margin-right: 0px;
    }

    .box-container:nth-child(3) .edu-box {
        margin-bottom: 0px;
    }

    .box-container:nth-child(4) .edu-box {
        margin-right: 0px;
    }

    .counter-right {
        margin-right: 28px;
    }

    .position-btn {
        position: relative;
        right: 0px;
        bottom: 0px;
        /* z-index: 100; */
        margin: 0 auto;
        float: none;
        /* display: inherit; */
        width: 98px;
    }

    .student-text {
        font-family: 'latolight';
        font-size: 19px;
        color: #ffffff;
        line-height: 25px;
        text-align: center;
    }

    .top-hr-one {
        width: 55px;
        height: 2px;
        background: #ffffff;
        margin: 0px auto 15px;
        display: block;
    }

    .top-hr-two {
        width: 55px;
        height: 4px;
        background: #ffffff;
        margin: 15px auto;
        display: block;
    }

    .student-name {
        font-family: 'latolight';
        font-size: 18px;
        color: #ffffff;
        line-height: 26px;
        text-align: center;
    }

    .overlay-desktop {
        position: absolute;
        top: -8px;
        width: 97%;
        left: 9px;
    }

    .quote {
        width: 97px;
        height: 97px;
        background: #ffffff url(../../images/sprite-image.png) no-repeat no-repeat 13px 26px;
        position: absolute;
        bottom: 0px;
        right: -13px;
        border-radius: 50px;
        display: none;
    }

    .position-btn {
        position: relative;
        right: 0px;
        bottom: 0px;
        /* z-index: 100; */
        margin: 0 auto;
        float: none;
        /* display: inherit; */
        width: 98px;
        margin-top: 30px;
    }

    .next-slide-video {
        position: absolute;
        top: 59%;
        right: 0;
        -webkit-transform: translateY(-59%);
        -ms-transform: translateY(-59%);
        transform: translateY(-59%);
        z-index: 1;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px solid #ff4444;
        background: url(../../images/sprite-image.png) no-repeat -3px -926px;
        display: inline-block;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .prev-slide-video {
        position: absolute;
        top: 59%;
        left: 0;
        -webkit-transform: translateY(-59%);
        -ms-transform: translateY(-59%);
        transform: translateY(-59%);
        z-index: 1;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px solid #ff4444;
        background: url(../../images/sprite-image.png) no-repeat -6px -848px;
        display: inline-block;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .demo {
        line-height: 45px;
    }
}

@media only screen and (max-width: 780px) {
    .shape-one {
        width: 14%;
        background: #fff;
        height: 140%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(30deg);
        left: 9%;
        top: -20%;
        overflow: hidden;
    }

    .shape-two {
        width: 7%;
        background: #fff;
        height: 140%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(30deg);
        left: 32%;
        top: -20%;
        overflow: hidden;
    }

    .shape-thre {
        width: 5%;
        background: #fff;
        height: 140%;
        display: block;
        position: absolute;
        opacity: 0.2;
        transform: rotate(30deg);
        left: 40.6%;
        top: -20%;
        overflow: hidden;
    }

    .shape-four {
        width: 10%;
        background: #fff;
        height: 140%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(30deg);
        left: 47.2%;
        top: -20%;
        overflow: hidden;
    }

    .address-container {
        margin-top: 30px !important;
    }

    .address {
        font-family: 'latolight';
        font-size: 18px;
        text-align: center;
        color: #252525;
        margin: 18px 0px 0px;
        line-height: 24px;
    }

    .mail-id {
        font-family: 'latolight';
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        margin-top: 16px;
    }

    .mobile {
        font-family: 'latolight';
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        margin-top: 13px;
    }
}
@media only screen and (max-width: 767px) {
    .content-area h1 {
        line-height: 43px;
    }
    .middle-header {
        line-height: 46px;
    }
    .info-per {
        font-size: 25px;
        line-height: 33px;
    }
    .info-num {
        font-size: 25px;
        line-height: 36px;
    }
    .add-ress {
        font-size: 16px;
        line-height: 28px;
    }
    .section-gap-767 {
		margin-top: 30px;
	}
	.blog-team h1 {
		text-align: center;
	}
	.team-container h1 {
		text-align: center;
		float: none;
		margin-bottom: 15px;
	}
	.team-container .customNavigation {
		float: none;
		margin: 0 auto 30px;
		display: block;
		text-align: center;
	}
	.team-text {
		min-height: 1px;
	}
}
@media only screen and (max-width: 483px) {
    .mob-form {
        width: 235px !important;
    }
}
@media only screen and (max-width: 480px) {
    .shape-one {
        width: 14%;
        background: #fff;
        height: 130%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(20deg);
        left: 10%;
        top: -20%;
        overflow: hidden;
    }

    .shape-two {
        width: 7%;
        background: #fff;
        height: 130%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(20deg);
        left: 28.2%;
        top: -20%;
        overflow: hidden;
    }

    .shape-thre {
        width: 7%;
        background: #fff;
        height: 130%;
        display: block;
        position: absolute;
        opacity: 0.2;
        transform: rotate(20deg);
        left: 44.2%;
        top: -20%;
        overflow: hidden;
    }

    .shape-four {
        width: 10%;
        background: #fff;
        height: 130%;
        display: block;
        position: absolute;
        opacity: 0.1;
        transform: rotate(20deg);
        left: 48.2%;
        top: -20%;
        overflow: hidden;
    }

    .full-btn {
        font-family: 'open_sanslight';
        width: 70px;
        height: 24px;
        background: #ffffff;
        border-radius: 50px;
        color: #078fbe;
        font-size: 12px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .hidden-bar-opener i {
        font-size: 11px;
    }

    .header-style-two .nav-toggler button {
        position: relative;
        display: block;
        height: 26px;
        width: 26px;
        background: transparent;
        color: #ffffff;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        border-radius: 50%;
        font-weight: normal;
        border: 2px solid #ffffff;
    }

    .header-style-two .nav-toggler {
        position: absolute;
        right: 0px;
        top: 0;
        margin-top: 10px;
    }

    .download-div {
        position: absolute;
        right: 60px;
        top: 10px !important;
    }

    .fixed-header .full-btn {
        font-family: 'open_sanslight';
        width: 70px;
        height: 24px;
        background: #078fbe;
        border-radius: 50px;
        color: #ffffff;
        font-size: 12px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .fixed-header .logo-sticky {
        display: block;
        padding: 3px 0px;
    }

    .header-style-two .main-box .logo-box .logo img {
        display: inline-block;
        max-width: 100%;
        -webkit-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease;
        width: 110px;
    }

    .login-sign-popup-container {
        width: 85%;
        margin: 110px auto 0;
        background: #ffffff;
        position: relative;
    }

    .already, .group label {
        font-size: 12px;
    }

    .sign-in-popup {
        font-size: 20px;
    }

    .address-container {
        margin-top: 30px !important;
    }
}

/* ============================================
                For Small mobile
============================================== */
@media only screen and (max-width: 767px) {
    .h1-box h2 {
        font-family: 'latoregular';
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .h1-box {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 0px;
        position: relative;
        z-index: 10;
        margin-bottom: 30px;
        padding: 10px;
    }
    .h1-box:first-child {
        margin-right: 0px;
    }
    .half-width {
        width: 50%;
        float: left;
    }
    .h1-box:before {
        content: '';
        position: absolute;
        width: 232px;
        height: 232px;
        border: 4px solid red;
        top: -51px;
        left: -20px;
        transform: rotate(-45deg);
        z-index: -1;
        background: rgba(255,255,255,.8);
        display: none;
    }
    .ful-main {
        margin-top: 0px;
    }
    .ful-main .h1-box:first-child {
        border: 5px solid #ff4444;
    }
    .ful-main .h1-box:last-child {
        border: 5px solid #ffbb33
    }
    .an-full .h1-box:first-child {
        border: 5px solid #00c851;
    }
    .an-full .h1-box:last-child {
        border: 5px solid #aa66cc;
        margin-bottom: 0px;
    }
    .hilights-of-products {
        width: 100%;
        float: left;
        position: relative;
        padding: 57px 0px;
    }
    .display-block {
        display: block;
        /*margin-top: 30px;*/
    }

    .student-image {
        float: none;
        position: relative;
        margin-bottom: 30px;
    }

    .student-image {
        width: 250px;
        float: none;
        margin: 0 auto 30px;
    }

    .quote {
        display: none;
    }

    .download-div {
        position: absolute;
        right: 60px;
        top: 25px;
    }

    .header-style-two .nav-toggler {
        position: absolute;
        right: 10px;
        top: 0px;
    }
}

@media only screen and (max-width: 746px) {
    .counter-right {
        margin-right: 26px;
    }
}

@media only screen and (max-width: 696px) {
    .counter-right {
        margin-right: 24px;
    }

    .demo {
        font-family: 'latoregular';
        font-size: 27px;
        text-align: center;
        color: #565656;
        margin-bottom: 24px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 646px) {
    .counter-right {
        margin-right: 22px;
    }

    .full-btn {
        font-family: 'open_sanslight';
        width: 70px;
        height: 24px;
        background: #ffffff;
        border-radius: 50px;
        color: #078fbe;
        font-size: 12px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .sign-in-div {
        position: absolute;
        right: 140px;
        top: 30px;
    }

    .download-div {
        top: 30px;
    }

    .fixed-header .full-btn {
        width: 70px;
        height: 30px;
    }

    .fixed-header .full-btn:hover {
        border: 0;
    }
}
/* ============================================
                For footer 
============================================== */

@media only screen and (max-width: 634px) {
    /*    .content-area h1 {
            font-family: 'latolight';
            color: #252525;
            font-size: 50px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 50px;
        }*/
    .affordable-price h1 {
        font-family: 'latoregular';
        color: #ececec;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 36px;
    }

    .student-says h1 {
        color: #ffffff;
    }
}

@media only screen and (max-width: 600px) {
    .box-container {
        width: 100%;
    }

    .counter-right {
        margin-right: 0px;
    }

    .box-container:nth-child(3) .edu-box {
        margin-bottom: 25px;
    }

    .overlay-desktop {
        position: absolute;
        top: -8px;
        width: 97%;
        left: 10px;
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .half-width {
        width: 100%;
        float: left;
    }

    .copy-right {
        text-align: center;
    }

    .design {
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 540px) {
    .dull-display {
        display: block;
        margin: 30px auto 0px !important;
    }
}
@media only screen and (max-width: 500px) {
    .home-submit .btn-blue {
        margin-top: 15px;
    }
    .home-for-cont label.error {
    width: 80%;
    left: 50%;
    right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    bottom: -35px;
    top: auto;
}
}

@media only screen and (max-width: 480px) {
    /*    .res-case-1 {
            width: 33%;
        }
        .res-case-2 {
            width: 60%;
        }*/
    .caption_contain {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .sign-in-div {
        position: absolute;
        right: 140px;
        top: 10px;
    }

    .caption_contain h1 {
        font-family: 'latothin';
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    .caption_contain h2 {
        font-family: 'allerbold_italic';
        font-size: 27px;
        line-height: 29px;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }

    .caption_contain p {
        font-family: 'latolight';
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        text-align: center;
        margin-top: 7px;
    }

    .caption_contain h2 {
        font-family: 'allerbold_italic';
        font-size: 27px;
        line-height: 29px;
        color: #ffffff;
        text-align: center;
        margin-top: 0px;
    }

    .info-per {
        font-family: 'latoregular';
        color: #08a3d6;
        font-size: 20px;
        text-align: center;
        margin-bottom: 22px;
        line-height: 17px;
    }

    .info-num {
        font-family: 'latoregular';
        color: #08a3d6;
        font-size: 21px;
        text-align: center;
        margin-bottom: 22px;
        line-height: 31px;
        margin-top: 19px;
    }

    .middle-header {
        font-family: 'latolight';
        color: #252525;
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
        line-height: 36px;
        /* margin-top: 55px; */
    }

    .prd-detail span {
        float: none;
    }

    .right-part {
        padding-left: 0;
        vertical-align: middle;
        display: table-cell;
        top: none;
        transform: none;
        position: relative;
        padding-right: 15px;
        float: left;
        text-align: center;
        margin-top: 10px;
    }

    .right-part h2 {
        text-align: center;
        line-height: 24px;
    }

    .right-part p {
        text-align: center;
    }

    .content-area h1 {
        font-family: 'latolight';
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 34px;
    }

    .affordable-price h1 {
        font-family: 'latoregular';
        color: #ffffff;
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 26px;
    }

    .toll-free-number img {
        width: 80%;
        margin-top: 10px;
    }

    .add-ress {
        font-family: 'latoregular';
        color: #ececec;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .fixed-header .full-btn, .fixed-header .full-btn:hover {
        font-family: 'open_sanslight';
        width: 55px;
        height: 24px;
        background: transparent;
        border-radius: 50px;
        color: #078fbe;
        font-size: 12px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .fixed-header .transperent-btn, .fixed-header .transperent-btn:hover {
        border: 0px;
        background: transparent;
    }
}
@media only screen and (max-width: 438px) {
    .mob-form {
        width: 235px !important;
        margin-bottom: 15px !important;
    }
}
@media only screen and (max-width: 410px) {
    .pre-pop .already span {
        display: block;
    }

    .full-btn {
        font-family: 'open_sanslight';
        width: 55px;
        height: 24px;
        background: transparent;
        border-radius: 50px;
        color: #ffffff;
        font-size: 14px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .full-btn:hover {
        border: none;
    }

    .transperent-btn {
        border: none;
    }

    .sign-in-div {
        position: absolute;
        right: 90px;
        top: 10px;
    }

    .download-div {
        position: absolute;
        right: 35px;
        top: 25px;
    }
}
