@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
li.chat_btn {
  height: 101%;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  background: red;
}
li.chat_btn .right-bar-toggle {
  background: #00a6dc  !important;
  padding: 0px 35px !important;
}
li.chat_btn .right-bar-toggle i {
  font-size: 35px;
  display: inline-block;
  line-height: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15px;
  color: #FFFFFF;
}
.right-bar {
  position: absolute !important;
  z-index: 999999999 !important;
  background: #ffffff !important;
}
.right-bar .tabs {
  width: 100% !important;
  padding: 0;
}
.right-bar .no_padding {
  padding: 0;
}
.right-bar .panel-heading {
  background-color: #f2f4f7 !important;
}
.right-bar .panel-heading .chevron {
  font-size: 12px;
  float: right;
}
.right-bar .panel.panel-default {
  border-top-width: 0 !important;
}
.contacts .col {
  padding: 0px !important;
}
.contacts .tabs {
  border-bottom: 1px solid transparent;
  background-color: #2196f3 !important;
  background-color: #2196f3;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.contacts .tabs .tab {
  background-color: #2196f3;
}
.contacts .tabs .tab a {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-transform: capitalize;
  color: #82c4f8;
}
.contacts .tabs .tab a.active {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}
.contacts .tabs .tab a:hover {
  color: #FFFFFF;
}
.contacts .tabs .indicator {
  background-color: #FFFFFF;
}
.contacts .contacts-list .list-group-item {
  border-width: 0;
  display: table;
  width: 100%;
  background-color: transparent;
}
.contacts .contacts-list .list-group-item a {
  text-decoration: none;
}
.contacts .contacts-list .list-group-item a:hover span.name {
  color: #2196f3;
}
.contacts .contacts-list .list-group-item span.name {
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
  padding-top: 2px;
  padding-left: 5px;
  color: #707780;
}
.contacts .contacts-list .list-group-item:first-child {
  border-radius: 0;
}
.contacts .contacts-list .avatar {
  width: 30px;
  display: inline-block;
  margin-right: 2px;
  float: left;
  margin-top: 3px;
}
.contacts .contacts-list .avatar img {
  border-radius: 50%;
  width: 100%;
  border: 1px solid #d7dce5;
}
.contacts .contacts-list i {
  float: right;
  line-height: 35px;
  color: #ddd;
  font-size: 10px;
}
.contacts .contacts-list i.away {
  color: #eac841;
}
.contacts .contacts-list i.online {
  color: #a0d269;
}
.contacts .contacts-list i.busy {
  color: #df6c6e;
}
.contacts .heading {
  text-align: center;
  display: table;
  width: 100%;
  margin-bottom: 0px;
  font-size: 16px;
  border: 1px solid #e9ecf2;
  border-left-width: 0;
  border-right-width: 0;
  height: 30px;
  line-height: 40px;
  background: #f6f7fa;
  font-weight: 400;
  color: #707780;
}
.contacts .heading.no_border_bottom {
  border-bottom-width: 0;
}
.contacts .heading .right,
.contacts .heading .left {
  float: left;
  display: block;
  border-right: 1px solid #e9ecf2;
}
.contacts .heading .right a,
.contacts .heading .left a {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  width: 40px;
  text-decoration: none;
  color: #707780;
}
.contacts .heading .right a:hover,
.contacts .heading .left a:hover {
  color: #2196f3;
}
.contacts .heading .left {
  float: right;
  border-left: 1px solid #e9ecf2;
}
.contacts .toggle-switch,
.contacts .check-radio {
  margin-bottom: 20px;
}
.contacts .toggle-switch .control-label,
.contacts .check-radio .control-label {
  margin-top: 10px;
}
.contacts .list-group-item {
  padding: 5px 15px;
}
.message-list .list-group-item {
  border-color: #e9ecf2;
  border-left-width: 0;
  border-right-width: 0;
  display: table;
  width: 100%;
}
.message-list .list-group-item:hover {
  background-color: #f9fafb;
}
.message-list .list-group-item a {
  text-decoration: none;
}
.message-list .list-group-item span {
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
  padding-top: 10px;
  padding-left: 5px;
}
.message-list .list-group-item h4 {
  color: #707780;
  margin: 0;
  font-size: 14px;
  margin-bottom: 5px;
}
.message-list .list-group-item p {
  color: #9398a0;
  white-space: wrap;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
  padding: 0;
}
.message-list .list-group-item:first-child {
  border-radius: 0;
}